/*------------ ARTICLE -------------*/

.article-template {
	padding: 70px 0;
	position: relative;
	@extend .lattice-background1;

    @media screen and (max-width : 767px) {
    	padding: 30px 0 70px 0;
    }

	&::after {
		@extend .rainbowborder;
	}

	.row:first-child {
		margin-bottom: 20px;
	}

	.author {
		@include futura-pt-format(20px, 500, 26px, $black, 0px);
		font-style: italic;
	}

	.date {
		@include futura-pt-format(14px, 400, 26px, $black, 26px);
	}

	p {
		@extend .standard_body-copy;

		&:first-of-type {
			position: relative;

			&:before {
				@extend .side-arrow;
			}
		}

		&.quote {
			max-width: 570px;
		}
	}

	.thumb {
		@extend .standard_body-image;
	}

	.caption {
		@extend .caption-copy;
	}

	.mediacontact-module {

		@media screen and (max-width : 767px) {
			text-align: center;
			display: none;
		}

		&.moonwalk {
			position: fixed;
			top: 70px;
		}

		&.dummy {
			display: none;

			@media screen and (max-width : 767px) {
				display: block;
			}
		}

		.social-btns-inline {
			margin-bottom: 20px;
		}

		.name, .contact {
			@extend .standard_body-copy;
		}

		.name {
			margin-bottom: 16px;
		}

		.contact {
			margin-bottom: 0px;
		}
	}

	.tags {

		@media screen and (max-width : 767px) {
			margin-bottom: 30px;
		}

		h4 {
			@extend .article-module-header;
		}

		ul {

			li {
				display: inline-block;
				margin-right: 6px;
				margin-bottom: 10px;

				&:first-child {
					margin-left: 0px;
				}

				a {
					@include futura-pt-format(14px, 700, 30px, $white, 0px);
					text-transform: uppercase;
					background-color: #acacac;
					padding: 0 10px;
					display: block;
					@extend .standard_transition;

					@media screen and (max-width : 767px) {
						line-height: 18px;
						padding: 6px 10px;
					}

					&:hover, &:focus {
						text-decoration: none;
						background-color: $nebraskared;
					}
				}
			}
		}
	}
}