/*-------- BOARD OF REGENTS --------*/

.mini-roster-template-wrap {
	padding: 60px 0;
	position: relative;

	background-image: url(images/directory-lattice1.svg), url(images/directory-lattice2.svg), url(images/boardofregents-triangle.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: left 0px bottom 0px, top 0px right 0px, top 617px right 0px;
	background-size: 188px, 184px, auto;

	@media screen and (max-width : 991px) {
		background-image: url(images/directory-lattice1.svg), url(images/boardofregents-triangle.png);
		background-repeat: no-repeat, no-repeat;
		background-position: left 0px bottom 0px, top 617px right -140px;
		background-size: 188px, auto;
	}

	@media screen and (max-width : 767px) {
		padding: 30px 0;
		background-image: none;
	}

	&::after {
		@extend .rainbowborder;
	}

	.intro {
		margin-bottom: 30px;
	}

	h2 {
		@extend .subheading-copy;
		clear: left;
	}
}

.mini-roster-4-col {

	.node {
		width: 25%;
		float: left;
		padding-right: 30px;
		margin-bottom: 50px;

		@media screen and (max-width : 991px) {
			width: 33.3333%
		}

		@media screen and (max-width : 767px) {
			width: 50%;
			padding-right: 15px;
		}

		&:nth-child(3n + 1) {
			@media screen and (min-width : 768px) and (max-width : 991px) {
				clear: left;
			}
		}

		&:nth-child(4n + 1) {
			clear: left;

			@media screen and (max-width : 991px) {
				clear: none;
			}

			@media screen and (max-width : 767px) {

			}
		}

		&:nth-child(1n) {
			@media screen and (max-width : 767px) {
				padding-right: 15px;
			}
		}

		&:nth-child(2n) {
			@media screen and (max-width : 767px) {
				padding-left: 15px;
				padding-right: 0px;
			}
		}

		img {
			width: 100%;
			margin-bottom: 10px;
		}

		.name {
			@extend .subheading-copy;
			margin-bottom: 0px;
		}

		.district {
			@extend .small_body-copy;
			font-weight: 500;
		}
	}
}