/*------- BUSINESS & FINANCE -------*/

.overview-sidebar-section {
	padding: 40px 0 70px 0;

	background-image: url(images/research-benefit-lattice2.svg), url(images/businessfinance-whatwedo-lattice2.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: top 0px right 0px, bottom 0px right 0px;
	background-size: 184px, 527px;

	@media screen and (max-width : 991px) {
		background-image: none;
	}

	.intro {
		margin-bottom: 20px;
	}

	.details {

		h3 {
			@extend .subheading-copy;
			margin-bottom: 8px;
		}

		p {
			@extend .standard_body-copy;
		}

		ul {
			@extend .standard_ul;
		}
	}

	.office {

		.thumb {
			width: auto;
			float: left;
			margin-right: 30px;
			@extend .img-treatment1;

			@media screen and (max-width : 767px) {
				float: none;
				margin-right: 0px;
				width: calc(100% + 30px);
				@extend .standard_body-image;
			}

			img {
				width: auto;

				@media screen and (max-width : 767px) {
					width: calc(100% + 30px);
				}
			}

			&::after {
				width: 199px;

				@media screen and (max-width : 767px) {
					width: 100%;
				}
			}
		}

		.title {
			@include futura-pt-format(20px, 500, 26px, $black, 5px);
		}

		.address {
			@extend .standard_body-copy;
		}

		.title, .address {
			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}

		.red-btn {
			@media screen and (max-width : 767px) {
				margin: 0 auto;
			}
		}
	}
}

.backdrop-misc-banner {
	padding: 60px 0;
	background-image: url(images/businessfinance-announcements-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media screen and (max-width : 767px) {
		padding: 30px 0;
	}

	h2 {
		margin-bottom: 30px;

		@media screen and (max-width : 767px) {
			text-align: center;
		}
	}

	.highlight {
		position: relative;
		height: 347px;

		background-image: url(images/businessfinance-announcements-thumb1.jpg);
		background-size: cover;

		@media screen and (max-width : 767px) {
			height: 375px;
			width: calc(100% + 30px);
			margin: 0 0 50px -15px;
		}

		h3 {
			@extend .subheading-copy;
			color: $white;
			margin-bottom: 5px;
		}

		p, .date {
			@extend .standard_body-copy;
			color: $white;
			margin-bottom: 0px;
		}

		p {
			margin-bottom: 5px;
		}

		.date {
			font-size: 14px;
		}

		.caption {
			width: 100%;
			position: absolute;
			bottom: -1px;
			padding: 20px 28px;
			background: rgba(0,0,0,.75);

			@media screen and (max-width : 767px) {
				padding: 20px 15px;
			}
		}
	}

	.pdfs {
		max-width: 394px;
		background: rgba(0,0,0,.3);

		@media screen and (max-width : 767px) {
			background: none;
		}

		li {
			@include futura-pt-format(20px, 500, 26px, $white, 0px);
			font-style: italic;
			text-transform: uppercase;

			min-height: 162px;
			display: block;
			background-image: url(images/businessfinance-pdfs-icon.png);
			background-repeat: no-repeat;
			background-size: 58px;
			background-position: left 50px top 36px;
			padding: 35px 50px 10px 143px;

			@media screen and (max-width : 767px) {
				min-height: 0px;
				font-size: 17px;
				background-position: left 15px top 20px;
				padding: 20px 15px 20px 105px;
			}

			a {
				color: $white;
				@extend .standard_transition;

				&:hover {
					color: $nebraskared;
					text-decoration: none;
				}
			}
		}
	}
}

.misc-bottom-section {
	padding: 50px 0;
	position: relative;

	background-image: url(images/businessfinance-whatwedo-lattice2.svg);
	background-repeat: no-repeat;
	background-position: bottom 0px right 0px;
	background-size: 527px;

	@media screen and (max-width : 1199px) {
		background-image: none;
	}

	&::after {
		@extend .rainbowborder;
	}

	h2 {
		@extend .subheading-copy;

		@media screen and (max-width : 767px) {
			text-align: center;
		}
	}

	.red-btn {
		margin-bottom: 60px;
	}

	.related-module {

		h4 {
			text-transform: none;
		}
	}
}

.md-profile-node {
	margin-bottom: 60px;
	overflow: auto;

	@media screen and (max-width : 767px) {
		padding-bottom: 30px;
		border-bottom: 1px solid $gold;
		margin-bottom: 30px;
	}

	&.title {
		@extend .standard_body-copy;
		line-height: 40px;
		border-bottom: 1px solid $gold;

		@media screen and (max-width : 767px) {
			display: none;
		}
	}

	>div {
		display: block;
		float: left;
		padding-right: 30px;

		@media screen and (max-width : 767px) {
			float: none;
			width: 100% !important;
		}

		&:nth-child(1) {
			width: 50%;

			img {
				display: none;

				@media screen and (max-width : 767px) {
					display: block;
					float: left;
					margin: 0 15px 15px 0;
				}
			}
		}

		&:nth-child(2) {
			width: 35%;
		}

		&:nth-child(3) {
			width: 15%;
			padding-right: 0px;

			@media screen and (max-width : 767px) {
				display: none;
			}
		}
	}

	.name {
		@extend .standard_body-copy;
		line-height: 20px;
		margin-bottom: 0px;
	}

	.title, .office, .phone, .email {
		@include futura-pt-format(14px, 400, 20px, $black, 0px);
	}

	.title, .office {
		@media screen and (max-width : 767px) {
			margin-bottom: 16px;
		}
	}

	.office {
		@media screen and (max-width : 767px) {
			clear: left;
		}
	}
}