/*------------ CONTACT -------------*/

.contact-template {
	padding: 60px 0;
	position: relative;

	background-image: url(images/contact-lattice1.svg), url(images/contact-lattice2.svg), url(images/contact-triangle.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: top 0px right 0px, bottom 0px right 0px, top 1300px right 0px;
	background-size: 285px, 425px, auto;

	@media screen and (max-width : 1199px) {
		background-image: url(images/contact-lattice2.svg), url(images/contact-triangle.png);
		background-repeat: no-repeat, no-repeat;
		background-position: bottom 0px right 0px, top 1300px right -240px;
		background-size: 425px, auto;
	}

	@media screen and (max-width : 767px) {
		padding: 30px 0 0 0;

		background-image: url(images/contact-lattice2.png);
		background-repeat: no-repeat;
		background-position: bottom 0px right 0px;
		background-size: 100%;
	}

	&::after {
		@extend .rainbowborder;
	}

	.left {

		h2 {
			@extend .standard_body-copy;
			line-height: 50px;
			margin-bottom: 30px;
			border-bottom: 1px solid $gold;
		}
	}

	.stacked-list {
		margin-bottom: 40px;

		@media screen and (max-width : 767px) {
			margin-bottom: 0px;
		}

		>div {
			padding-left: 0px;
			margin-bottom: 30px;

			@media screen and (max-width : 767px) {
				padding: 0px;
				margin-bottom: 20px;
			}

			&:nth-child(2n + 1) {
				@media screen and (max-width : 991px) {
					clear: left;
				}
			}

			&:nth-child(3n + 1) {
				@media screen and (min-width : 992px) {
					clear: left;
				}
			}
		}

		.title {
			@extend .subheading-copy;
			margin-bottom: 0px;
		}

		.address {
			@extend .standard_body-copy;
			margin-bottom: 5px;
		}

		.phone, .email {
			@extend .small_body-copy;
		}
	}

	.red-btn {
		margin-bottom: 60px;

		@media screen and (max-width : 767px) {
			margin: 0 auto 60px auto;
		}
	}

	.mini-contact-list {
		@extend .contacts-listv1;
		margin-bottom: 0px;
	}

	.greybox-sidebar {

		h2 {
			@extend .subheading-copy;
			margin-bottom: 5px;
		}

		p {
			@extend .standard_body-copy;
			margin-bottom: 14px;
		}

		h2, p {
			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}

		.campus-inline-menu {
			padding-bottom: 0px;
			border-bottom: none;
			margin-bottom: 0px;
		}
	}
}

.contact-form {

	p {
		@extend .standard_body-copy;

		&.captcha {
			margin-bottom: 10px;
		}
	}

	label {
		@include futura-pt-format(14px, 700, 20px, $nebraskared, 5px);
	}

	input {
		@extend .standard_body-copy;
		height: 39px;
		padding: 0 10px;

		&.captcha {
			width: 39px;
			text-align: center;
		}
	}

	input, textarea {
		width: 100%;
		border: 2px solid #acacac;
		display: block;
	}

	select {
		@extend .standard_body-copy;
		height: 39px;
		width: 100%;
		max-width: 270px;
		background-color: $lightgrey;
		background-image: url(images/contact-droparrow.svg);
		background-repeat: no-repeat;
		background-size: 27px;
		background-position: right 13px center;
		padding: 0 10px;
		display: block;
		border-radius: 0px;
		border: none;
		margin-bottom: 23px;
		appearance: none;

		@media screen and (max-width : 767px) {
			max-width: none;
		}
	}

	textarea {
		padding: 10px;
		height: 212px;
		@extend .standard_body-copy;
	}

	button {
		text-align: center;
		min-width: 178px;
		border: none;
	}
}