/*----------- DIRECTORY ------------*/

.directory-wrap {
	padding: 60px 0;
	background-image: url(images/directory-lattice1.svg), url(images/directory-lattice2.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: bottom 0px left 0px, top 0px right 0px;
	background-size: 188px, 184px;
	position: relative;

	@media screen and (max-width : 767px) {
		background-size: 50%, 50%;
		padding: 30px 0 0 0;
	}

	&:after {
		@extend .rainbowborder;
	}

	h3 {
		@extend .subheading-copy;
	}

	.contacts-list {
		@extend .contacts-listv1;
	}
}

.white-searchform {
	position: relative;
	padding-right: 40px;
	margin-bottom: 30px;

	&:after {
		font-family: FontAwesome;
		color: $white;
		font-size: 19px;
		line-height: 40px;
		text-align: center;
		vertical-align: center;
		content:'\f002';
		height: 40px;
		width: 40px;
		background-color: $nebraskared;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	input {
		@include futura-pt-format(15px, 500, 20px, $neblack, 0px);
		font-style: italic;
		height: 40px;
		width: 100%;
		padding: 0 12px;
		border: 1px solid $nebraskared;
		position: relative;
		border-radius: 0px;
		box-shadow: none !important;
	}
}