/*------- FACULTY AND STAFF --------*/

.backdrop-template-wrap2 {
	padding: 60px 0;
	background-image: url(images/facultystaff-background.jpg);
	background-size: cover;
	background-position: right;

	@media screen and (max-width : 767px) {
		background-image: url(images/facultystaff-background-mobile.jpg);
		padding: 30px 0;
	}

	.intro {
		margin-bottom: 25px;
	}

	h2, h3 {
		@extend .subheading-copy;
	}

	h2 {
		margin-bottom: 5px;
	}

	.main, .greybox-long-sidebar >.note, .greybox-long-sidebar .module {
		background: rgba(255,255,255,0.75);
	}

	.main {
		padding: 30px;
		overflow: auto;

		@media screen and (max-width : 991px) {
			padding: 20px 15px;
		}

		@media screen and (max-width : 767px) {
			margin-bottom: 25px;
		}

		.node {
			width: 50%;
			float: left;

			@media screen and (max-width : 991px) {
				width: auto;
				float: none;
				padding-right: 0px !important;
				padding-left: 0px !important;
			}

			&:nth-child(odd) {
				padding-right: 15px;
			}

			&:nth-child(even) {
				padding-left: 15px;
			}

			&:nth-child(2n + 1) {
				clear: left;
			}

			p {
				@extend .standard_body-copy;
				margin-bottom: 40px;

				@media screen and (max-width : 767px) {
					margin-bottom: 24px;
				}
			}
		}
	}

	.greybox-long-sidebar {
		margin-bottom: 0px;

		@media screen and (max-width : 767px) {
			padding-left: 15px;
			padding-right: 15px;
		}

		.red-btn {
			@media screen and (max-width : 767px) {
				margin-bottom: 15px;
			}
		}

		>.note {
			padding: 8px 28px;
			margin-bottom: 12px;

			@media screen and (max-width : 991px) {
				padding: 8px 15px;
			}
		}
	}
}