/*------------ FOOTER --------------*/

#footer {
	padding: 58px 0 10px 0;

	@media screen and (max-width : 767px) {
		padding: 30px 0;
		text-align: center;
	}

	.row:first-child {
		margin-bottom: 60px;

		@media screen and (max-width : 991px) {
			margin-bottom: 30px;
		}
	}

	a:focus .logo {
		opacity: .8;
	}

	.logo {
		max-width: 174px;
		margin-top: 50px;
		@extend .standard_transition;

		@media screen and (max-width : 767px) {
			display: block;
			margin: 0 auto 30px auto;
		}

		&:hover {
			opacity: .8;
		}
	}

	h5, .internals li, .externals li, .copyright {
		@include futura-pt-format(14px, 700, 27px, $black, 0px);
		text-transform: uppercase;

		.fa {
		    vertical-align: inherit;
		    margin-left: 7px;
		}
	}

	h5 {
		@media screen and (max-width : 767px) {
			margin-bottom: 10px;
		}
	}

	.internals, .externals {

		@media screen and (max-width : 767px) {
			margin-bottom: 30px;
		}

		li {

			@media screen and (max-width : 767px) {
				margin-bottom: 10px;
			}

			a {
				color: #6c6c6c;
				@extend .standard_transition;

				&:hover, &:focus {
					color: $nebraskared;
					text-decoration: none;
				}
			}

			ul li {
				font-weight: 500;
				margin-left: 17px;

				@media screen and (max-width : 767px) {
					margin-left: 0px;
				}
			}
		}
	}

	.social-btns-inline {
		margin-bottom: 40px;

		@media screen and (max-width : 991px)  and (min-width: 768px) {
			text-align: center;
			margin-top: 30px;
			margin-bottom: 20px;
		}

		@media screen and (max-width : 767px) {
			margin-bottom: 25px;
		}
	}

	.foundation {
		@include futura-pt-format(17px, 400, 26px, $neblack, 0px);

		@media screen and (max-width : 991px) {
			text-align: center;
		}

		@media screen and (max-width : 767px) {
			font-weight: 500;
		}

		a {
			color: $nebraskared;
		}
	}

	.copyright {
		color: $externalgrey;
		float: left;

		@media screen and (max-width : 767px) {
			max-width: 250px;
			margin: 0 auto 20px auto; 
			float: none;
		}
	}

	.policies {
		@include futura-pt-format(14px, 400, 27px, $nebraskared, 0px);
		float: right;

		@media screen and (max-width : 767px) {
			max-width: 250px;
			margin: 0 auto; 
			float: none;
		}
	}
}