/*------------ GIVING --------------*/

#hero.quoted {

	.slide {
		@media screen and (max-width : 767px) {
			padding-top: 40px;
			height: auto;
		}
	}

	.bottom {
		bottom: 0px;

		@media screen and (max-width : 767px) {
			position: relative;
		}
	}

	.overlay {
		top: 0px;
	}

	.lg-quote {
		@include refrigerator-format(40px, 400, 37px, $white, 5px);
		text-align: center;

		@media screen and (max-width : 767px) {
			font-size: 24px;
			line-height: normal;
		}
	}

	.recipient {
		@extend .subheading-copy;
		color: $white;
		text-align: center;
	}

	.cta {
		width: 100%;
		padding: 40px 0;
		background: rgba(0,0,0,.35);

		@media screen and (max-width : 767px) {
			padding: 20px 0;
		}

		p {
			@extend .standard_body-copy;
			color: $white;
			text-align: center;
			margin-bottom: 0px;
		}
	}
}

.text-ribbon {
	@extend .gradient1;
	padding: 24px 0;

	p {
		@include futura-pt-format(20px, 500, 43px, $white, 0px);
		font-style: italic;
		text-align: center;

		@media screen and (max-width : 767px) {
			line-height: 28px;
		}

		a {
			color: $white;
			border-bottom: 1px solid;
			@extend .standard_transition;

			@media screen and (max-width : 767px) {
				display: inline-block;
			}

			&:hover {
				text-decoration: none;
				border-bottom: none;
			}
		}

		span {
			height: 43px;
			width: 1px;
			vertical-align: bottom;
			background: $white;
			margin: 0 34px;
			display: inline-block;

			@media screen and (max-width : 991px) {
				margin: 0 20px;
			}

			@media screen and (max-width : 767px) {
				height: 0px;
				width: 0px;
				margin: 0;
				display: block;
			}
		}

		img {
			margin-left: 10px;
			vertical-align: middle;
			width: 32px;
		}
	}
}

.options-list-section {
	padding: 60px 0;

	background-image: url(images/giving-advancing-lattice1.svg),url(images/giving-advancing-lattice2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top 0px left 0px, bottom 0px right 0px;
    background-size: 188px, 188px;

    @media screen and (max-width : 991px) {
    	background-image: url(images/giving-advancing-lattice2.svg);
	    background-repeat: no-repeat;
	    background-position: bottom 0px right 0px;
	    background-size: 188px;
    }

	@media screen and (max-width : 767px) {
		padding: 40px 0;
		background-image: none;
	}

	.intro {
		text-align: center;
		margin-bottom: 40px;
	}

	h3 {
		@extend .subheading-copy;

		@media screen and (max-width : 767px) {
			text-align: center;
			margin-bottom: 5px;
		}
	}

	p {
		@extend .standard_body-copy;
	}

	.left {

		@media screen and (max-width : 767px) {
			margin-bottom: 40px;
		}

		ul {
			@extend .standard_ul;
		}

		.red-btn {
			@media screen and (max-width : 767px) {
				margin: 0 auto;
			}
		}
	}

	.right {

		.campus-inline-menu {
			text-align: left;

			li {
				display: block;

				@media screen and (max-width : 767px) {
					text-align: center;
				}

				a {
					color: $black;
					display: inline-block;
					margin-bottom: 5px;

					&:hover {
						color: $white;
						background: $nebraskared;
					}
				}

				.fa-external-link {
					margin-left: 5px;
				}
			}
		}
	}
}