/*------------- BODY ---------------*/

body {

}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

::selection { 
	color: $white;
	background: $gold;
}

a {
	color: $nebraskared;
	vertical-align: baseline;

	&:hover, &:focus {
		color: $nebraskared;
	}
}

.cleaner {
	clear:both;
	font-size:0px;
	height:0px;
}

p {
	word-wrap: break-word;
}

em {
	font-style:italic;
	vertical-align:baseline;
}

strong {
	font-weight:600;
	vertical-align: baseline;
}

span {
	vertical-align:baseline;
}

img {
	height: auto;
	width: auto;
	max-width: 100%;
}

input, textarea {
	border-radius: 0px;
	appearance: none;
}

button {
	appearance: none;
}

#wrapper {
	position: relative;
	@extend .slider_transition;
	overflow: hidden; //TEMPORARY
	backface-visibility: hidden;

	&.toggle {
		@media screen and (max-width : 991px) {
	    	transform: translate3d(-70%,0px,0);
	    	height: 100%;
	    	overflow: hidden;
	    }
	}
}

.row {
	max-width: 1200px;
	margin: 0 auto;
}

.slider_transition {
	transition: transform 0.2s;
}

.standard_transition {
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.slow_transition {
	-moz-transition: all 0.6s;
	-webkit-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
}

.slight_scale {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.centered {
	margin: 0 auto;
 	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.no-csstransforms3d .centered {
	top: 20%;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

#faux-background {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: top center;
	position: fixed;
	top: 0px;
	display: block;
	z-index: -1;
}

.slick-slider {
	margin-bottom: 0px;
}

.nester {
	padding-right: 0px;
	padding-left: 0px;
}

/*------------ GLOBALS -------------*/

/*------------- MISC. --------------*/

.rainbowborder {
	content: '';
	height: 5px;
	width: 100%;
	position: absolute;
	bottom: -5px;
	@extend .gradient1;
}

.gradient1 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b19844+0,97a05c+33,6fac7f+64,17c7d0+100 */
	background: #b19844; /* Old browsers */
	background: -moz-linear-gradient(left,  #b19844 0%, #97a05c 33%, #6fac7f 64%, #17c7d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b19844), color-stop(33%,#97a05c), color-stop(64%,#6fac7f), color-stop(100%,#17c7d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #b19844 0%,#97a05c 33%,#6fac7f 64%,#17c7d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #b19844 0%,#97a05c 33%,#6fac7f 64%,#17c7d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #b19844 0%,#97a05c 33%,#6fac7f 64%,#17c7d0 100%); /* IE10+ */
	background: linear-gradient(to right,  #b19844 0%,#97a05c 33%,#6fac7f 64%,#17c7d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b19844', endColorstr='#17c7d0',GradientType=1 ); /* IE6-9 */
}

.side-arrow {
	content:'';
	height: 17px;
	width: 8px;
	background-image: url(images/global-sidearrow.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 5px;
	left: -22px;
}

.lattice-background1 {
	background-image: url(images/article-lattice-right2.svg),url(images/article-lattice-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 0px right 0px, top 0px right 0px;
    background-size: 297px, 194px;

    @media screen and (max-width : 1199px) {
    	background-image: none;
    }

    @media screen and (max-width : 767px) {
    	background-image: url(images/article-lattice-right2.svg);
    	background-repeat: no-repeat;
    	background-position: bottom 0px right 0px;
    	background-size: 110px;
    }
}

.fa-external-link {
	font-size: 16px;
    vertical-align: middle;
    color: $externalgrey;
}

.campus-inline-menu {
	text-align: center;

	li {
		@include futura-pt-format(14px, 700, 30px, $black, 0px);
		text-transform: uppercase;
		display: inline-block;

		a {
			cursor: pointer;
			padding: 0 15px;
			display: block;
			@extend .standard_transition;

			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}

/*--------- IMG TREATMENTS ---------*/

.img-accentclip {
	clip-path: polygon(0 0, 91% 0, 100% 14%, 100% 100%, 0 100%);
}

.img-accentclip-sm {
	clip-path: polygon(0 0, 86% 0, 100% 14%, 100% 100%, 0 100%);
}

.img-accentclip-long {
	clip-path: polygon(0 0, 89% 0, 100% 22%, 100% 100%, 0 100%);
}

.img-treatment0, .img-treatment1, .img-treatment2 {
	position: relative;
	//@extend .img-accentclip-sm;

	&::after {
		content: '';
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17c7d0+0,6fac7f+36,97a05c+67,b19844+100&0.25+0,0.25+100 */
		background: -moz-linear-gradient(left,  rgba(23,199,208,0.25) 0%, rgba(111,172,127,0.25) 36%, rgba(151,160,92,0.25) 67%, rgba(177,152,68,0.25) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(23,199,208,0.25) 0%,rgba(111,172,127,0.25) 36%,rgba(151,160,92,0.25) 67%,rgba(177,152,68,0.25) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(23,199,208,0.25) 0%,rgba(111,172,127,0.25) 36%,rgba(151,160,92,0.25) 67%,rgba(177,152,68,0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4017c7d0', endColorstr='#40b19844',GradientType=1 ); /* IE6-9 */

		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		@extend .standard_transition;
	}

	img {
		width: 100%;
	}

	a {
		display: block;
	}
}

.img-treatment1 {

	&::after {
		@extend .img-accentclip-sm;
	}

	img {
		@extend .img-accentclip-sm;
	}
}

.img-treatment2 {

	&::after {
		@extend .img-accentclip-long;
	}

	img {
		@extend .img-accentclip-long;
	}
}

a .img-treatment0:hover, a .img-treatment1:hover, a .img-treatment2:hover, a:focus .img-treatment0, a:focus .img-treatment1, a:focus .img-treatment2 {

	&::after {
		opacity: 0;
	}
}

/*--------- COPY STANDARDS ---------*/

.standard_lrgheader {
	@include refrigerator-format(84px, 700, 94px, $white, 40px);

	@media screen and (max-width : 991px) {
		font-size: 70px;
		line-height: 85px;
	}

	@media screen and (max-width : 767px) {
		/*font-size: 50px;
		line-height: 60px;*/
		font-size: 33px;
		line-height: 45px;
		margin-bottom: 0px;
	}

	span {
		border-bottom: 5px solid $white;

		@media screen and (max-width : 767px) {
			border-bottom: 3px solid $white;
		}
	}

	img {
		width: 55px;
		margin-left: 20px;
		display: inline-block;
		vertical-align: initial;

		@media screen and (max-width : 767px) {
			width: 32px;
			margin-left: 10px;
		}
	}
}

.standard_body-copy {
	@include futura-pt-format(17px, 500, 26px, $neblack, 26px);
	@extend .standard_transition;

	@media screen and (max-width : 767px) {
		font-size: 16px;
	}

	a {
		color: $nebraskared;

		&:hover, &:focus {
			color: $nebraskared;
			text-decoration: underline;
		}
	}

	&.quote {
		font-size: 20px;
		font-style: italic;
		width: 80%;
		margin: 0 auto 26px auto;

		@media screen and (max-width : 767px) {
			width: 100%;
		}
	}
}

.small_body-copy {
	@include futura-pt-format(14px, 400, 20px, $neblack, 0px);
}

.standard_ul {
	margin-bottom: 26px;

	li {
		@include futura-pt-format(17px, 500, 26px, $neblack, 0px);
		list-style: disc;
		margin-left: 20px;

		@media screen and (max-width : 767px) {
			font-size: 16px;
		}
	}
}

.standard_body-image {
	margin-bottom: 26px;

	@media screen and (max-width : 767px) {
		width: calc(100% + 30px);
		margin: 0 0 26px -15px;
		max-width: none;
	}
}

.subheading-copy {
	@include futura-pt-format(20px, 500, 26px, $neblack, 26px);
	font-style: italic;

	@media screen and (max-width : 767px) {
		font-size: 19px;
	}

	a {
		color: $nebraskared;
		@extend .standard_transition;

		&:hover, &:focus {
			text-decoration: none;
			color: $black;
		}
	}
}

.caption-copy {
	@include futura-pt-format(14px, 400, 23px, $black, 0px);

	@media screen and (max-width : 767px) {
		margin: 0 15px;
	}
}

.intro {

	h1, h2, h3 {
		@include refrigerator-format(40px, 400, 50px, $neblack, 10px);

		@media screen and (max-width : 767px) {
			font-size: 30px;
			line-height: 36px;
		}

		&.white {
			color: $white;
		}

		&.red {
			color: $nebraskared;
		}
	}

	h1 {
		font-weight: 700;
	}

	p {
		@include futura-pt-format(17px, 500, 26px, $neblack, 0px);

		@media screen and (max-width : 767px) {
			font-size: 16px;
		}

		&.white {
			color: $white;
		}

		&.red {
			color: $nebraskared;
		}
	}
}

.reference {
	@extend .standard_body-copy;
	color: $nebraskared;
	display: block;

	&::before {
		content:'';
		height: 17px;
		width: 8px;
		background-image: url(images/global-sidearrow.svg);
		background-repeat: no-repeat;
		position: absolute;
		top: 5px;
		left: -5px;
		transform: rotate(180deg);

		@media screen and (max-width : 1199px) {
			left: 15px;
		}
	}

	@media screen and (max-width : 1199px) {
		margin-left: 20px;
	}
}

.white {

	h2, h3, p {
		color: $white;
	}
}

.refrigerator-bignumber {
	@include refrigerator-format(70px, 700, 85px, $white, 0px);

	@media screen and (max-width : 991px) {
		font-size: 50px;
		line-height: normal;
	}
}

/*------------ BUTTONS -------------*/

.red-btn {
	@include futura-pt-format(14px, 700, 20px, $white, 0px);
	text-transform: uppercase;
	padding: 10px 20px;
	background: $nebraskared;
	display: table;
	@extend .standard_transition;

	&:hover, &:focus {
		color: $white;
		text-decoration: none;
		background: $crimson;
	}

	.fa-external-link {
		font-size: 18px;
		vertical-align: middle;
		color: $white;
		margin-left: 12px;
	}
}

.white-btn {
	@include futura-pt-format(14px, 700, 40px, $nebraskared, 0px);
	text-transform: uppercase;
	padding: 0 20px;
	background: #f0f1f0;
	display: table;
	@extend .standard_transition;

	&:hover, &:focus {
		color: $white;
		text-decoration: none;
		background: $nebraskared;
	}
}

.social-btns-inline {

	li {
		display: inline-block;
		margin-right: 20px;

		&:last-child {
			margin-right: 0px;
		}

		a:focus svg {
			fill: $crimson;
		}

		a:focus .capsule {
			border-color: $crimson;

			.fa {
				color: $crimson;
			}
		}

		a:hover, a:focus {
			text-decoration: none;
		}

		svg {
			height: 32px;
			width: 32px;
			fill: $nebraskared;
			@extend .standard_transition;

			&:hover, &:focus {
				fill: $crimson;
			}
		}

		.capsule {
			height: 32px;
			width: 32px;
			border: 2px solid $nebraskared;
			border-radius: 18px;
			@extend .standard_transition;

			&:hover, &:focus {
				border-color: $crimson;

				.fa {
					color: $crimson;
					text-decoration: none;
				}
			}

			.fa {
				font-size: 20px;
				display: block;
				margin-top: 5px;
				text-align: center;
				margin-left: 1px;
				@extend .standard_transition;
			}
		}
	}
}

/*------------ MODULES -------------*/

.external-highlight, .research-filter-module, .awardee-module {
	position: relative;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	display: block;
	margin-bottom: 30px;

	.overlay {
		height: calc(100% - 60px);
		background: rgba(0,0,0,.75);
		z-index: 1;
		opacity: 0;
		@extend .slow_transition;

		@media screen and (max-width : 767px) {
			display: none;
		}

		p {
			@include futura-pt-format(17px, 400, 26px, $white, 0px);
			text-align: center;
			padding: 35px 30px;
			background-image: url(images/global-external-arrow1.svg), url(images/global-external-arrow2.svg);
			background-size: 22px, 22px;
			background-position: center top, center bottom;
			background-repeat: no-repeat, no-repeat;
		}
	}

	img {
		min-width: 100%;
		@extend .slow_transition;
	}

	.bottom {
		height: 60px;
		width: 100%;
		background: rgba(255,255,255,.85);
		padding: 17px 46px 0 15px;
		position: absolute;
		bottom: 0px;
		z-index: 1;

		@media screen and (max-width : 767px) {
			height: auto;
			padding: 10px 46px 10px 15px;
		}

		h3 {
			@include futura-pt-format(20px, 500, normal, $nebraskared, 0px);
			font-style: italic;
			letter-spacing: -0.5px;
			@extend .standard_transition;
		}

		p {
			@include futura-pt-format(16px, 400, 26px, $black, 0px);
			display: none;

			@media screen and (max-width : 767px) {
				display: block;
			}
		}
	}

	&:hover, &:focus {
		text-decoration: none;

		.overlay {
			opacity: 1;
		}

		img {
			@extend .slight_scale;
		}

		h3 {
			color: $neblack;
		}
	}
}

.external-highlight .bottom {

	&::before {
		font-family: FontAwesome;
		color: #939388;
		content: "\f08e";
		position: absolute;
		top: 22px;
		right: 20px;
	}
}

.external-highlights-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	padding: 90px 0;

	@media screen and (max-width : 767px) {
		padding: 40px 0 30px 0;
	}

	.nester {
		@media screen and (max-width : 1199px) {
			max-width: 960px;
			margin: 0 auto;
			float: none;
		}
	}

	>.white-btn {
		margin: 10px auto 0 auto;

		@media screen and (max-width : 767px) {
			line-height: 50px;
			text-align: center;
			margin: 0 15px 0 15px;
			display: block;
		}
	}

	.intro {
		margin-bottom: 40px;

		h2, p {
			text-align: center;
		}
	}
}

.news-node {
	margin-bottom: 40px;

	@media screen and (max-width : 767px) {
		margin-bottom: 28px !important;
	}

	&:last-child {
		margin-bottom: 38px;
	}

	.date {
		@include futura-pt-format(14px, 400, 30px, $black, 0px);
		text-transform: uppercase;
		padding-right: 30px;
		width: 30%;

		@media screen and (max-width : 991px) {
			padding-right: 15px;
		}
	}

	.title {
		@include futura-pt-format(17px, 500, 24px, $nebraskared, 0px);
		width: 50%;

		@media screen and (max-width : 991px) {
			width: 65%;
		}

		a {
			color: $nebraskared;
			@extend .standard_transition;
		}
	}

	.date, .title {
		float: left;

		@media screen and (max-width : 767px) {
			width: auto !important;
			float: none !important;
		}
	}
}

.event-node {
	height: 92px;
	background-color: #f5f5f5;
	padding-right: 20px;
	margin-bottom: 22px;

	@media screen and (max-width : 767px) {
		margin-bottom: 10px;
	}

	.date {
		@include futura-pt-format(13px, 500, normal, #6c6c6c, 0px);
		text-transform: uppercase;
		text-align: center;
		height: 92px;
		width: 92px;
		background-color: #e5e5e5;
		float: left;
		margin-right: 14px;
		display: block;
		position: relative;
		z-index: 1;
		@extend .standard_transition;

		&:hover, &:focus {
			color: $nebraskared;
			text-decoration: none;
		}

		span {
			font-family: "refrigerator-deluxe",sans-serif;
			font-size: 35px;
			line-height: normal;
		}
	}

	.title {
		@include futura-pt-format(17px, 500, 24px, $nebraskared, 5px);

		a {
			color: $nebraskared;
			@extend .standard_transition;

			&:hover, &:focus {
				color: $black;
				text-decoration: none;
			}
		}
	}

	.details {

		li {
			@include futura-pt-format(14px, 400, 15px, $black, 0px);
			display: inline-block;

			&:first-child {
				padding-right: 7px;
				margin-right: 7px;
				border-right: 1px solid $black;
			}
		}
	}
}

.external-banner {
	padding: 50px 0;

	background-size: cover;
	background-position: center;

	@media screen and (max-width : 991px) {
		padding: 50px 0 0 0;
	}

	img {
		@media screen and (max-width : 991px) {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	.intro {
		height: 344px;

		@media screen and (max-width : 991px) {
			height: auto;
		}

		h2 {
			margin-bottom: 20px;

			@media screen and (max-width : 991px) {
				text-align: center;
			}
		}

		p {
			margin-bottom: 30px;
		}

		.centered {
			@media screen and (max-width : 991px) {
				top: auto;
				transform: none;
			}
		}
	}

	.red-btn {
		@media screen and (max-width : 991px) {
			text-align: center;
			line-height: 20px;
			width: calc(100% + 30px);
			padding: 10px 15px;
			margin: 0 0 0 -15px;
		}
	}
}

.article-module-header {
	@include futura-pt-format(20px, 500, normal, $black, 20px);
	text-transform: uppercase;
	font-style: italic;
}

.related-module {

	@media screen and (max-width : 767px) {
		margin-bottom: 30px;
	}

	h4 {
		@extend .article-module-header;
	}

	ul {

		li {
			@include futura-pt-format(17px, 400, 20px, $black, 10px);

			a {
				color: $nebraskared;
			}
		}
	}
}

.twopanel-slider {
	padding: 88px 0 140px 0;
	background-image: url(images/gettoknow-ourhistory-lattice-left.svg), url(images/gettoknow-ourhistory-lattice-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 0px left 0px, top 0px right 0px;
    background-size: 227px, 297px;

    @media screen and (max-width : 1199px) {
    	background-image: url(images/gettoknow-ourhistory-lattice-left.svg);
	    background-repeat: no-repeat;
	    background-position: bottom 0px left 0px;
	    background-size: 227px;
    }

	@media screen and (max-width : 991px) {
		padding: 65px 0 48px 0;
		background-image: none;
	}

	.intro h2 {
		text-align: center;
		margin-bottom: 56px;

		@media screen and (max-width : 991px) {
			margin-bottom: 30px;
		}
	}

	.slider-con {

		@media screen and (max-width : 991px) {
			@extend .img-accentclip;
		}

		.navigator {
			background: #e0e0e0;

			&:hover {
				background: rgba(208,13,44,.5);
			}
		}

		.slick-dots {
			@media screen and (max-width : 991px) {
				top: 400px;
				bottom: auto;
			}

			@media screen and (max-width : 767px) {
				top: 255px;
			}
		}
	}

	.slide {

		.row {
			@media screen and (max-width : 991px) {
				max-width: 600px;
			}

			@media screen and (max-width : 767px) {
				max-width: 360px;
			}
		}

		img {
			@extend .img-accentclip;
			@extend .standard_body-image;
			margin-bottom: 0px;

			@media screen and (max-width : 991px) {
				clip-path: none;
				margin-bottom: 78px;
			}
		}

		.context {
			height: 315px;

			@media screen and (max-width : 991px) {
				height: auto;
			}

			.centered {
				top: auto;
				transform: none;
			}
		}

		h3 {
			@extend .subheading-copy;
			margin-bottom: 20px;

			@media screen and (max-width : 991px) {
				text-align: center;
				font-size: 20px;
			}

			.fa-external-link {
				margin-left: 14px;
			}
		}

		.subhead {
			@extend .standard_body-copy;
			position: relative;

			&::before {
				@extend .side-arrow;
			}
		}

		p {
			@extend .standard_body-copy;
			font-size: 16px;
			line-height: 20px;

			@media screen and (max-width : 991px) {
				margin-left: 22px;
			}
		}
	}
}

.summary-list-section {
	padding: 80px 0;

	background-image: url(images/research-benefit-lattice1.svg),url(images/research-benefit-lattice2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 0px left 0px, top 0px right 0px;
    background-size: 384px, 187px;

    @media screen and (max-width : 1199px) {
    	background-image: url(images/research-benefit-lattice1.svg);
	    background-repeat: no-repeat;
	    background-position: bottom 0px left 0px;
	    background-size: 384px;
    }

	@media screen and (max-width : 767px) {
		background-image: none;
		padding: 40px 0;
	}

	.intro {
		margin-top: 120px;

		@media screen and (max-width : 767px) {
			margin-top: 0px;
			margin-bottom: 40px;
		}

		h2 {
			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}

		p {
			position: relative;

			&:before {
				@extend .side-arrow;
			}
		}
	}

	.bullets {

		h3 {
			@extend .subheading-copy;
			margin-bottom: 5px;
		}

		p {
			@extend .standard_body-copy;
			margin-bottom: 5px;
		}

		a {
			@extend .standard_body-copy;
			font-size: 16px;
			color: $nebraskared;
			display: block;
			margin-bottom: 0px;
		}

		.node {
			margin-bottom: 50px;

			@media screen and (max-width : 767px) {
				margin-bottom: 30px;
				padding-bottom: 30px;
				border-bottom: 1px solid $gold;
			}

			&:last-of-type {
				margin-bottom: 0px;

				@media screen and (max-width : 767px) {
					border-bottom: none;
					padding-bottom: 0px;
				}
			}
		}
	}
}

.right-aligned-content-grid {
	padding: 46px 0 69px 0;
	background-image: url(images/gettoknow-academics-sidetriangle.png);
	background-repeat: no-repeat;
	background-position: bottom 69px left 0px;

	@media screen and (max-width : 1250px) {
		background-position: bottom 69px left -100px;
	}

	@media screen and (max-width : 991px) {
		padding: 46px 0 40px 0;
		background-image: none;
	}

	.intro {
		margin-bottom: 26px;

		 p {

			@media screen and (max-width : 991px) {
				text-align: center;
			}
		}
	}

	.highlights {
		padding: 40px 0 0 0;
		border-top: 1px solid $gold;
		border-bottom: 1px solid $gold;

		@media screen and (max-width : 991px) {
			border-bottom: none;
		}

		@media screen and (max-width : 767px) {
			text-align: center;
		}

		.node {
			margin-bottom: 30px;

			&:last-child {
				@media screen and (max-width : 767px) {
					margin-bottom: 0px;
				}
			}

			&:nth-child(3n + 1) {
				clear: left;
			}

			p {
				margin-bottom: 0px;
			}
		}
	}

	h2 {
		text-align: center;
	}

	h3 {
		@extend .subheading-copy;
		margin-bottom: 10px;

		@media screen and (max-width : 767px) {
			font-size: 20px;
		}

		a {
			color: $nebraskared;
			@extend .standard_transition;

			&:hover {
				text-decoration: none;
				color: $neblack;
			}
		}

		.fa {
			margin-left: 14px;
		}
	}

	p {
		@extend .standard_body-copy;
	}
}

.contacts-listv1 {
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 100px;

	@media screen and (max-width : 767px) {
		margin-left: auto;
		margin-bottom: 50px;
	}

	.node {
		width: 30.7%;
		margin-right: 3.9%;
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 30px;

		@media screen and (max-width : 767px) {
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
			margin-bottom: 40px;
		}

		&:nth-child(3n) {
			margin-right: 0px;
		}

		&:nth-child(3n + 1) {
			clear: left;
		}
	}

	.thumb {
		@extend .img-treatment1;
		margin-bottom: 20px;
	}

	h3 {
		margin-bottom: 20px;
	}

	.name {
		@extend .subheading-copy;
		margin-bottom: 0px;
	}

	.title {
		@extend .standard_body-copy;
		padding-bottom: 10px;
		border-bottom: 1px solid $gold;
		margin-bottom: 14px;
	}

	.contact {
		@extend .small_body-copy;
	}
}

/*----------- SIDEBARS -------------*/

.greybox-long-sidebar {

	@media screen and (max-width : 767px) {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 40px;
	}

	.red-btn {
		width: 100%;
		padding: 7px 20px;
		text-align: center;
		margin-bottom: 12px;

		@media screen and (max-width : 767px) {
			margin-bottom: 0px;
		}
	}

	>.note {
		@media screen and (max-width : 767px) {
			display: none;
		}
	}

	.note {
		@extend .small_body-copy;
		margin-bottom: 16px;
	}

	.module {
		padding: 22px 28px;
		background: $lightgrey;
		margin-bottom: 30px;

		@media screen and (max-width : 991px) {
			padding: 22px 15px;
		}

		@media screen and (max-width : 767px) {
			margin-bottom: 15px;
		}

		&:last-child {
			margin-bottom: 0px;
		}

		h3 {
			margin-bottom: 10px !important;

			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}

		img {
			width: 100%;
			margin-bottom: 14px;
		}

		p {
			@extend .standard_body-copy;
		}

		.special-link {
			margin-bottom: 10px;
		}

		.note {
			margin-bottom: 10px;
		}

		ul {
			@extend .standard_ul;
			margin-bottom: 0px;

			@media screen and (max-width : 767px) {
				text-align: center;
			}

			li {
				margin-left: 0px;
				margin-bottom: 10px;
				list-style: none;

				&:last-child {
					margin-bottom: 0px;
				}
			}
		}

		.campus, .representative {
			@include futura-pt-format(17px, 500, 20px, $black, 0px);
		}

		.address, .phone, .email {
			@include futura-pt-format(14px, 400, 20px, $black, 0px);
		}

		.representative {
			margin-bottom: 16px;
		}
	}
}

.greybox-sidebar {
	padding: 28px;
	background: $lightgrey;
	margin-top: 46px;

	@media screen and (min-width : 768px) and (max-width : 991px) {
		padding: 0px;
		background: none;
	}

	@media screen and (max-width : 767px) {
		padding: 28px 20px;
		width: calc(100% + 30px);
		margin: 0 0 0 -15px;
	}

	h3 {
		@media screen and (max-width : 767px) {
			text-align: center;
			margin-top: 0px;
		}
	}

	.campus-inline-menu {
		text-align: left;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $gold;

		li {
			display: block;
			margin-left: -15px;

			@media screen and (max-width : 767px) {
				margin-left: auto;
			}

			&:last-child {

				a {
					margin-bottom: 0px;
				}
			}

			@media screen and (max-width : 767px) {
				text-align: center;
			}

			a {
				color: $nebraskared;
				display: inline-block;
				margin-bottom: 10px;

				&:hover, &:focus {
					color: $white;
					background: $nebraskared;
				}
			}
		}
	}

	.find {
		@include futura-pt-format(14px, 700, 20px, $nebraskared, 22px);
		text-transform: uppercase;
		display: block;
		@extend .standard_transition;

		@media screen and (max-width : 767px) {
			text-align: center;
		}

		&:hover {
			color: $crimson;
			text-decoration: none;
		}
	}

	.aside p {
		@include futura-pt-format(14px, 400, 23px, $black, 22px);

		&:last-child {
			margin-bottom: 0px;
		}

		span {
			font-size: 17px;
		}
	}
}

/*-------- RESPONSIVE VIDEO ---------*/

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

//TEMPLATES INDEX STYLES

#template-index {
	padding: 60px 0;
	position: relative;

	background-image: url(images/contact-lattice1.svg), url(images/contact-lattice2.svg), url(images/contact-triangle.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: top 0px right 0px, bottom 0px right 0px, top 1300px right 0px;
	background-size: 285px, 425px, auto;

	@media screen and (max-width : 767px) {
		padding: 30px 0 50px 0;

		background-image: none;
		background-repeat: no-repeat;
		background-position: bottom 0px right 0px;
		background-size: 100%;
	}

	&::after {
		@extend .rainbowborder;
	}

	.intro {
		margin-bottom: 20px;
	}

	ol {

		li {
			@include futura-pt-format(16px, 700, 20px, $nebraskared, 20px);
			text-transform: uppercase;
			list-style-type: decimal-leading-zero;
			padding-left: 15px;
			margin-left: 30px;

			a {
				color: $neblack;
				@extend .standard_transition;

				&:hover {
					color: $nebraskared;
					text-decoration: none;
				}
			}
		}
	}
}