/*------------ HEADER --------------*/

#header {
	position: relative;
	z-index: 10;

	.alerts {
		@include futura-pt-format(14px, 700, 42px, $neblack, 0px);
		text-align: center;
		letter-spacing: 0.5px;
		background: $beige;

		@media screen and (max-width : 991px) {
			text-align: left;
			line-height: 28px;
			padding: 15px 15px;
		}

		a {
			color: $crimson;
			text-transform: uppercase;
			margin-left: 10px;
		}
	}

	.top {
		background: $nebraskared;

		@media screen and (max-width : 991px) {
			height: 64px;
		}

		.mobile-logo {
			width: 106px;
			margin-top: 18px;
			float: left;
			display: none;

			@media screen and (max-width : 991px) {
				display: block;
			}
		}

		ul {
			float: right;
			font-size: 0px;

			@media screen and (max-width : 991px) {
				display: none;		
			}

			li {
				@include futura-pt-format(14px, 700, 45px, $white, 0px);
				text-transform: uppercase;
				letter-spacing: 1px;
				display: inline-block;

				a {
					color: $white;
					display: block;
					padding: 0 20px;
					@extend .standard_transition;

					&:hover, &:focus {
						color: $nebraskared;
						background: $white;
						text-decoration: none;
					}
				}
			}
		}

		//Animated Hamburger Dump
		#nav-toggle { 
			position: absolute; 
			right: 15px;
			top: 21px;
			cursor: pointer; 
			padding: 10px 35px 16px 0px;
			display: none;
			
			@media screen and (max-width : 991px) {
				display: block;
			}

			span, span:before, span:after {
				cursor: pointer;
				border-radius: 1px;
				height: 3px;
				width: 30px;
				background: $white;
				position: absolute;
				display: block;
				content: '';
				-moz-transition: all 500ms ease-in-out;
				-webkit-transition: all 500ms ease-in-out;
				-ms-transition: all 500ms ease-in-out;
				-o-transition: all 500ms ease-in-out;
			}

			span {

				&:before {
					top: -8px; 
				}

				&:after {
					bottom: -8px;
				}
			}
		}

		#nav-toggle.active {

			span {
				background-color: transparent;

				&:before, &:after {
					top: 0;
				}

				&:before {
					-moz-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}

				&:after {
					-moz-transform: translateY(-10px) rotate(-45deg);
					-webkit-transform: translateY(-10px) rotate(-45deg);
					-ms-transform: translateY(-10px) rotate(-45deg);
					-o-transform: translateY(-10px) rotate(-45deg);
					top: 10px;
				}
			}
		}
		//END Animated Hamburger Dump
	}

	.bottom {
		height: 117px;
		background: $white;

		@media screen and (max-width : 991px) {
			display: none;
		}

		a:focus .logo {
			opacity: .8;
		}

		.logo {
			max-height: 46px;
			max-width: 174px;
			margin-top: 34px;
			@extend .standard_transition;

			&:hover {
				opacity: .8;
			}
		}

		ul {
			float: right;

			li {
				display: inline-block;
			}

			li:not(:last-child) {
				
				a {
					@include futura-pt-cnd-format(25px, 700, 26px, $neblack, 0px);
					text-transform: uppercase;
					text-align: center;
					height: 117px;
					display: block;
					padding-top: 30px;
					padding: 30px 24px 0 24px;
					min-width: 130px;
					@extend .standard_transition;

					&:hover, &:focus {
						background: $lightgrey;
						text-decoration: none;
					}

					span {
						@include futura-pt-format(14px, 700, 20px, $nebraskared, 0px);
					}
				}
			}

			li:last-child {
				height: 117px;
				padding-top: 40px;
				margin-left: 20px;
			}
		}

		.search-btn {
			height: 40px;
			width: 40px;
			background: $nebraskared;
			padding: 0 0 0 0;
			display: block;
			border: none;
			@extend .standard_transition;

			&:hover, &:focus {
				text-decoration: none;
				background: $neblack;
				cursor: pointer;
			}

			.fa {
				font-size: 19px;
				color: $white;
				margin: 0 auto;
				display: table;
			}
		}
	}

	&::after {
		@extend .rainbowborder;

		@media screen and (max-width : 991px) {
			display: none;
		}
	}

	#searchform {
	    position: absolute;
		height: 100%;
		width: 100%;
		max-width: 900px;
		top: 0px;
		right: 75px;
		background-color: $deepgrey;
		display: none;

		input {
			@include refrigerator-format(40px, 400, normal, $white, 0px);
			height: 100%;
			width: 100%;
			border: none;
			padding: 0 72px;
			background-color: $deepgrey;
			position: relative;
			@extend .standard_transition;

			&:focus {
				background-color: #595959;
				outline: none;
			}
		}

		.closer {
			height: 21px;
			width: 21px;
			display: block;
			position: absolute;
			top: 21px;
			right: 21px;
			cursor: pointer;
			@extend .standard_transition;

			&:hover {
				opacity: .8;
			}
		}
	}
}