/*-------- HEALTH BENEFITS ---------*/

.index-grid-template1 {
	padding: 40px 0 70px 0;
	background-image: url(images/research-benefit-lattice2.svg), url(images/healthbenefits-lattice2.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: top 0px right 0px, bottom 0px right 0px;
	background-size: 184px, 360px;
	position: relative;

	@media screen and (max-width : 767px) {
		background-size: 50%, 0;
		padding: 30px 0;
	}

	&:after {
		@extend .rainbowborder;
	}

	.reference {
		margin-bottom: 20px;
	}

	.intro {
		margin-bottom: 30px;
	}

	h3, h2 {
		@extend .subheading-copy;
	}

	.benefit-list {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 30px;
	}

	.benefit {

		&:nth-child(2n + 1) {
			clear: left;
		}

		h3 {
			margin-bottom: 10px;

			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}

		p {
			@extend .standard_body-copy;
		}
	}
}

.mini-contact-node {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0px;
	}

	&.head {
		border-bottom: 1px solid $gold;
		margin-bottom: 20px;

		@media screen and (max-width : 767px) {
			display: none;
		}

		.left, .right {
			@extend .standard_body-copy;
			line-height: 40px;
			margin-bottom: 0px;
		}
	}

	.left {
		width: 65%;

		@media screen and (max-width : 767px) {
			margin-bottom: 8px;
		}
	}

	.right {
		width: 35%;
	}

	.left, .right {
		float: left;

		@media screen and (max-width : 767px) {
			width: auto;
			float: none;
		}
	}

	.campus, .representative {
		@include futura-pt-format(17px, 500, 20px, $black, 0px);
	}

	.address, .phone, .email {
		@include futura-pt-format(14px, 400, 20px, $black, 0px);
	}
}