.slider-con {
	position: relative;

	.navigator {
		height: 78px;
		width: 50px;
		background: rgba(255,255,255,.5);
		position: absolute;
		cursor: pointer;
		z-index: 1;
		@extend .centered;
		@extend .standard_transition;

		@media screen and (max-width : 991px) {
			display: none !important;
		}

		&:hover {
			background: rgba(208,13,44,.5);
		}

		&.prev {
			left: 40px;
		}

		&.next {
			right: 40px;
		}

		img {
			max-width: 24px;
			display: block;
			margin: 14px auto 0 auto;
		}
	}
}

#hero {

	.slide {
		height: 650px;
		background-size: cover;
		background-position: center;
		position: relative;

		@media screen and (max-width : 991px) {
			height: 550px;
		}

		@media screen and (max-width : 767px) {
			height: 248px;
		}

		.bottom {
			width: 100%;
			bottom: 60px;
			position: absolute;
			z-index: 1;

			@media screen and (max-width : 767px) {
				bottom: 30px;
			}

			.red-btn {
				@media screen and (max-width : 767px) {
					display: none;
				}
			}
		}

		.overlay {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+21,0.65+90 */
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 21%, rgba(0,0,0,0.65) 90%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(21%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(0,0,0,0.65) 90%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(0,0,0,0.65) 90%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(0,0,0,0.65) 90%,rgba(0,0,0,0.65) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(0,0,0,0.65) 90%,rgba(0,0,0,0.65) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
			z-index: 0;
		}

		h2, h1 {
			@extend .standard_lrgheader;
		}
	}

	.slick-dots {
		display: none !important;

		@media screen and (max-width : 991px) {
			display: block !important;
		}

		li {
			width: auto;
			height: auto;
			margin: 0 7px;

			button {
				height: 10px;
				width: 10px;
				border-radius: 10px;
				border: 1px solid $nebraskared;

				&:before {
					content: none;
				}
			}

			&.slick-active button {
				background: $nebraskared;
			}
		}
	}
}

.slick-dots {
	left: 0px;
	bottom: -40px;

	@media screen and (max-width : 767px) {
		bottom: -45px;
	}

	li {
		width: auto;
		height: auto;
		margin: 0 8px;

		button {
			height: 10px;
			width: 10px;
			border-radius: 10px;
			border: 1px solid $nebraskared;

			&:before {
				content: none;
			}
		}

		&.slick-active button {
			background: $nebraskared;
		}
	}
}