/*------------- HOME ---------------*/

.external-highlights-section-wide {
	padding: 50px 0;
	background-image: url(images/home-institute-lattice1.svg), url(images/home-institute-lattice2.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: top 0px left -2px, bottom 0px right 0px;
	background-size: 257px, 388px;

	@media screen and (max-width : 1199px) {
		background-image: url(images/home-institute-lattice2.svg);
		background-repeat: no-repeat;
		background-position: bottom 0px right 0px;
		background-size: 388px;
	}

	@media screen and (max-width : 767px) {
		padding: 80px 0 0 0;
		background-image: none;
	}

	.row:nth-child(2) .col-sm-6 {
		@media screen and (max-width : 767px) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.intro {
		margin-bottom: 40px;

		h2, p {
			text-align: center;
		}
	}

	.external-highlight {
		@media screen and (max-width : 767px) {
			margin-bottom: 0px;
		}

		.bottom {
			@media screen and (max-width : 767px) {
				background: rgba(255,255,255,1);
				position: relative;
			}
		}
	}

	>.red-btn {
		margin: 0 auto;

		@media screen and (max-width : 767px) {
			text-align: center;
			width: 100%;
		}
	}
}

.lattice-banner {
	height: 454px;
	background-image: url(images/home-onlinecourses-background.png);
	background-repeat: no-repeat;
	background-position: top right;
	padding-top: 110px;

	@media screen and (max-width : 1199px) {
		background-position: top right -150px;
	}

	@media screen and (max-width : 991px) {
		background-position: top right -312px;
		padding-top: 120px;
	}

	@media screen and (max-width : 767px) {
		height: auto;
		background-image: none;
		padding-top: 0px;
		padding-bottom: 40px;
	}

	img {
		display: none;
		width: 100%;
		margin-bottom: 40px;

		@media screen and (max-width : 767px) {
			display: block;
		}
	}

	h2 {
		@media screen and (max-width : 767px) {
			text-align: center;
		}

		a {
			color: $nebraskared;
			@extend .standard_transition;

			&:hover, &:focus {
				color: $neblack;
				text-decoration: none;
			}
		}
	}

	p {
		position: relative;

		@media screen and (max-width : 767px) {
			margin-left: 22px;
		}

		&:before {
			@extend .side-arrow;
		}
	}
}

.backdrop-banner {
	text-align: center;
	background-image: url(images/home-coa-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	@media screen and (max-width : 767px) {
		background-position: top right;
	}

	&:before {
		content: '';
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,.4);
		position: absolute;
		left: 0px;
		top: 0px;
		display: none;

		@media screen and (max-width : 767px) {
			display: block;
		}		
	}

	>.overlay {
		padding: 50px 0;
		position: relative;
	}

	.intro {
		p {
			color: $white;
			margin-bottom: 20px;
		}

		.white-btn {
			line-height: 26px;
			padding: 0 12px;
			margin: 0 auto;
			background: rgba(240,241,240,.7);

			&:hover {
				background: $nebraskared;
			}
		}
	}
}

.news-events-section {
	padding: 60px 0;

	@media screen and (max-width : 767px) {
		padding: 50px 0 0 0;
	}

	h2 {
		text-align: center;
		margin-bottom: 60px;

		@media screen and (max-width : 767px) {
			margin-bottom: 30px;
		}
	}

	.left {
		position: relative;

		&::before {
			content: "";
			height: 100%;
			width: 1px;
			position: absolute;
			top: 0px;
			right: 0px;
			background-color: #dacfa8;

			@media screen and (max-width : 991px) {
				display: none;
			}
		}
	}

	.right {
		@media screen and (max-width : 767px) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.campusnews-nav {
	margin-top: 40px;

	@media screen and (max-width : 767px) {
		padding-left: 0px;
		padding-right: 0px;
	}

	h3 {
		@include futura-pt-format(20px, 500, normal, $nebraskared, 36px);
		font-style: italic;
		text-align: center;

		@media screen and (max-width : 767px) {
			width: 200px;
			margin: 0 auto 5px auto;
		}
	}

	ul {
		text-align: center;

		@media screen and (max-width : 767px) {
			border-bottom: 2px solid $lightgrey;
		}

		li {
			@include futura-pt-format(14px, 700, 17px, $black, 0px);
			text-transform: uppercase;
			display: inline-block;
			margin-right: 34px;

			@media screen and (max-width : 767px) {
				line-height: 36px !important;
				display: block;
				margin-right: 0px;
				border-top: 2px solid $lightgrey;
			}

			&.title {
				@include futura-pt-format(17px, 500, 17px, $black, 0px);
				text-transform: none;
				position: relative;

				@media screen and (max-width : 767px) {
					padding-bottom: 16px;
					border-top: none;
				}

				&:before {
					@extend .side-arrow;
					top: 1px;
				}

				.fa {
				    margin-left: 14px;
				}
			}

			&:last-child {
				margin-right: 0px;
			}

			a {
				color: $nebraskared;
				@extend .standard_transition;

				&:hover, &:focus {
					text-decoration: none;
					color: $neblack;
				}
			}
		}
	}
}