/*------------ IMPACT --------------*/

#globalimpact {
	background-image: url(images/directory-lattice1.svg);
	background-repeat: no-repeat;
	background-position: left 0px bottom 0px;
	background-size: 188px;
	padding: 70px 0;

	@media screen and (max-width : 991px) {
		background-image: none;
	}

	.highlights {
		@media screen and (max-width : 767px) {
			border-top: none;
		}
	}

	.thumb {
		margin-bottom: 18px;
		@extend .img-treatment0;
	}

	p {
		@media screen and (max-width : 767px) {
			text-align: left;
		}
	}

	.pdf {
		margin-top: 50px;

		@media screen and (max-width : 991px) {
			margin-top: 0px;
			margin-bottom: 50px;
		}
	}

	.col-md-9 {
		padding-left: 0px;
		padding-right: 0px;
	}

	.pdf-btn {
		@include futura-pt-format(16px, 500, 23px, $nebraskared, 0px);
	}
}

.right-aligned-content-grid2 {
	padding: 60px 0 40px 0;

	background-image: url(images/impact-national-lattice1.svg);
	background-repeat: no-repeat;
	background-position: top 0px left 0px;
	background-size: 279px;

	@media screen and (max-width : 1199px) {
		background-image: none;
	}

	@media screen and (max-width : 767px) {
		padding: 40px 0 0 0;
	}

	.intro {

		h2 {
			text-align: center;
			margin-bottom: 50px;

			@media screen and (max-width : 767px) {
				margin-bottom: 20px;
			}
		}
	}

	.node:nth-child(2n + 1) {
		clear: left;
	}

	.thumb {
		margin-bottom: 10px;
		@extend .img-treatment2;

		@media screen and (max-width : 767px) {
			@extend .standard_body-image;
		}
	}

	p {
		@extend .standard_body-copy;

		&.quote {
			width: 100%;

			&::before {
				@extend .side-arrow;
			}
		}
	}

	h3 {
		@extend .subheading-copy;
		margin-bottom: 44px;

		@media screen and (max-width : 767px) {
			margin-bottom: 20px;
		}

		.fa-external-link {
			vertical-align: baseline;
			margin-left: 10px;
		}
	}

	.node-con {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.full-content-grid {
	padding: 60px 0 40px 0;

	background-image: url(images/impact-nebraska-lattice1.svg);
	background-repeat: no-repeat;
	background-position: top 0px left 0px;
	background-size: 282px;

	@media screen and (max-width : 1199px) {
		background-image: none;
	}

	.intro {

		h2 {
			text-align: center;
			margin-bottom: 50px;

			@media screen and (max-width : 767px) {
				margin-bottom: 20px;
			}
		}	
	}

	.node {

		&:nth-child(4n + 1) {
			@media screen and (min-width : 992px) {
				clear: left;
			}
		}

		&:nth-child(3n + 1) {
			@media screen and (max-width : 991px) {
				clear: left;
			}
		}
	}

	.thumb {
		@extend .img-treatment2;
		margin-bottom: 10px;
	}

	h3 {
		@extend .subheading-copy;
		margin-bottom: 10px;
	}

	p {
		@extend .standard_body-copy;
		margin-bottom: 30px;

		@media screen and (max-width : 767px) {

		}
	}
}