/*------------- MIXINS -------------*/

@mixin futura-pt-format($size, $weight, $height, $colour, $bottom) {
	font-family: "futura-pt",sans-serif;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	color: $colour;
	margin-bottom: $bottom;
}

@mixin futura-pt-cnd-format($size, $weight, $height, $colour, $bottom) {
	font-family: "futura-pt-condensed",sans-serif;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	color: $colour;
	margin-bottom: $bottom;
}

@mixin refrigerator-format($size, $weight, $height, $colour, $bottom) {
	font-family: "refrigerator-deluxe",sans-serif;
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
	color: $colour;
	margin-bottom: $bottom;
}