#mobile-nav {	
	height: 100%;
	width: 70%;
	position: fixed;
	right: 0px;
	overflow-y: auto;
	-webkit-overflow-scroll: touch;

	border-left: 1px solid #dacfa8;
	background-color: $nebraskared;

	@extend .slider_transition;
    transform: translate3d(100%,0px,0);
    backface-visibility: hidden;
    transform-style: preserve-3d;

    @media screen and (min-width : 992px) {
    	display: none;
    }

	&.toggle {
    	transform: translate3d(0%,0px,0);
	}

	#searchform {
		width: 100%;
		position: relative;

		&:before {
			font-family: FontAwesome;
			font-size: 20px;
			content: "\f002";
			color: $white;
			position: absolute;
			top: 20px;
			right: 15px;
		}

		input {
			@include refrigerator-format(21px, 400, normal, $white, 0px);
			padding: 20px 40px 20px 20px;
			background-color: $deepgrey;
			border: none;
			width: 100%;
			@extend .standard_transition;

			&:focus {
				outline: none;
				background-color: #595959;
			}
		}
	}

	.top {

		li {
			background-color: $white;

			&:nth-child(even) {
				background-color: $lightgrey;
			}
				
			a {
				@include futura-pt-cnd-format(21px, 700, 21px, $neblack, 0px);
				text-transform: uppercase;
				display: block;
				padding: 10px 0px 10px 20px;
				@extend .standard_transition;

				&:hover, &:active {
					text-decoration: none;
				}

				span {
					@include futura-pt-format(14px, 700, 20px, $nebraskared, 0px);
				}
			}
		}
	}

	.bottom {

		li {
			border-bottom: 1px solid $white;

			&:last-child {
				border-bottom: none;
			}

			a {
				@include futura-pt-format(14px, 700, 44px, $white, 0px);
				text-transform: uppercase;
				letter-spacing: 1px;
				display: block;
				padding-left: 20px;
				background-color: $nebraskared;

				&:hover, &:active {
					text-decoration: none;
				}
			}
		}
	}
}