/*---------- GET TO KNOW -----------*/

.gettoknow.intro {
	padding: 64px 0;

	h2 {
		text-align: center;
	}

	p {
		position: relative;

		@media screen and (max-width : 767px) {
			margin-left: 22px;
		}

		&::before {
			@extend .side-arrow;
		}
	}
}

.layered-hero {
	background-image: url(images/gettoknow-mission-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center right 26px;
	padding: 110px 0 170px 0;
	position: relative;
	margin-bottom: -32px;

	@media screen and (max-width : 767px) {
		padding: 10px 0 10px 0;
		background-position: center right 10px;
	}

	&::before {
		content:'';
		height: 100%;
		width: 100%;
		position: absolute;
		bottom: 32px;
		left: 19px;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cf122c+0,bf5739+50,b39243+100&0.38+0,0.38+100 */
		background: -moz-linear-gradient(left,  rgba(207,18,44,0.38) 0%, rgba(191,87,57,0.38) 50%, rgba(179,146,67,0.38) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(207,18,44,0.38) 0%,rgba(191,87,57,0.38) 50%,rgba(179,146,67,0.38) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(207,18,44,0.38) 0%,rgba(191,87,57,0.38) 50%,rgba(179,146,67,0.38) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61cf122c', endColorstr='#61b39243',GradientType=1 ); /* IE6-9 */

		@media screen and (max-width : 767px) {
			bottom: 10px;
			left: 10px;
		}
	}

	h1 {
		@extend .standard_lrgheader;

		@media screen and (max-width : 767px) {
			margin-bottom: 14px;
		}
	}

	p {
		@extend .standard_body-copy;
		color: $white;
	}
}

.iconed-list-section {
	padding: 90px 0;

	background-image: url(images/gettoknow-sixstrategicgoals.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@media screen and (max-width : 767px) {
		padding: 40px 0 0 0;
	}

	.intro {
		text-align: center;

		p {
			margin-bottom: 40px;
		}
	}

	.goal {
		margin-bottom: 50px;

		&:nth-child(2n + 1) {
			clear: left;
		}

		.icon {
			height: 56px;
			width: 70px;
			margin-right: 30px;
			text-align: center;
			float: left;

			@media screen and (max-width : 767px) {
				float: none;
				margin: 0 auto 20px auto;
			}

			img {
				max-height: 100%;
			}
		}

		.content {
			padding-left: 100px;

			@media screen and (max-width : 767px) {
				text-align: center;
				padding-left: 0px;
			}
		}

		h3 {
			@extend .subheading-copy;
			color: $white;
			margin-bottom: 0px;

			@media screen and (max-width : 767px) {
				font-size: 20px;
			}
		}

		p {
			@include futura-pt-format(17px, 400, 26px, $white, 0px);
		}
	}

	.white-btn {
		margin: 0 auto;
		clear: both;

		@media screen and (max-width : 767px) {
			line-height: 20px;
			text-align: center;
			background: $nebraskared;
			color: $white;
			padding: 10px 70px;
		}
	}
}

.backdrop-section {
	padding: 80px 0 50px 0;

	background-image: url(images/gettoknow-affordability-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	@media screen and (max-width : 767px) {
		padding: 40px 0;
	}

	.intro {
		margin-bottom: 60px;

		@media screen and (max-width : 767px) {
			margin-bottom: 40px;
		}

		h2, p {
			text-align: center;
		}
	}

	.node {
		padding: 28px;
		background: rgba(255,255,255,.8);
		margin-bottom: 30px;

		@media screen and (max-width : 991px)  and (min-width: 768px) {
			padding: 20px;
		}

		@media screen and (max-width : 767px) {
			padding: 20px 0;
		}

		h3 {
			@extend .subheading-copy;
			margin-bottom: 5px;
		}

		h6 {
			@include futura-pt-format(14px, 700, 20px, $black, 0px);
			text-transform: uppercase;
			text-align: center;

			@media screen and (max-width : 767px) {
				margin-bottom: 10px;
			}
		}

		p {
			@extend .standard_body-copy;
		}

		h3, h6, p {
			@media screen and (max-width : 767px) {
				padding: 0 20px;
			}
		}

		.campus-inline-menu {
			width: calc(100% + 30px);
   			margin: 0 0 26px -15px;

   			@media screen and (max-width : 767px) {
   				width: auto;
   				margin: 0 0 26px 0;
   			}

			li {
				margin-right: 10px;

				@media screen and (max-width : 767px) {
					margin-bottom: 10px;
				}

				&:last-child {
					margin-right: 0px;
				}

				a {
					color: $nebraskared;
					@extend .standard_transition;

					&:hover, &.toggle {
						text-decoration: none;
						color: $white;
						background: $nebraskared;
					}
				}
			}
		}

		.stat {
			width: 100%;
		}

		.note {
			@include futura-pt-format(16px, 400, 20px, $black, 0px);
			margin-top: 20px;
		}
	}
}

.fiscal-stats li {
	border-bottom: 1px solid $gold;
	overflow: auto;
	padding-right: 14px;

	@media screen and (max-width : 767px) {
		padding: 0 20px;
	}

	&:last-child {
		border-bottom: none;
	}

	.left {
		@include futura-pt-format(17px, 500, 60px, $black, 0px);
		float: left;
	}

	.right {
		@include futura-pt-format(17px, 400, 60px, $black, 0px);
		letter-spacing: -1px;
		float: right;

		span {
			margin-left: 6px;

			&.loss {
				color: $nebraskared;
			}

			&.gain {

			}
		}
	}

	.left, .right {
		@media screen and (max-width : 767px) {
			line-height: 40px;
		}
	}

	.fa-arrow-up {
		vertical-align: baseline;
	}
}

.versus-border {
	height: 1px;
	width: 100%;
	background: $gold;
	margin: 50px 0;
	position: relative;

	@media screen and (max-width : 767px) {
		margin: 25px 0 50px 0;
	}

	&::after {
		@include futura-pt-format(16px, 700, 45px, $white, 0px);
		text-align: center;
		content: 'VS';
		height: 45px;
		width: 45px;
		background: $gold;
		border-radius: 45px;
		display: block;
		position: relative;
		top: -22.5px;
		margin: 0 auto;
	}
}

.external-list {

	li {
		@extend .standard_body-copy;
		margin-bottom: 8px;
		padding-right: 30px;
		position: relative;
		display: inline-block;
		clear: both;

		@media screen and (max-width : 767px) {
			padding: 0 20px;
		}

		&:last-child {
			//margin-bottom: 0px;
		}

		.fa {
			margin-left: 10px;

			@media screen and (max-width : 767px) {
				display: none;
			}
		}

		&::after {
			font-family: FontAwesome;
			font-size: 16px;
			color: #939388;
			content: "\f08e";
			position: absolute;
			top: 2px;
			right: 0px;
		}

	}
}

#studentexcellence {
	padding: 88px 0;

	background-image: url(images/gettoknow-excellence-lattice1.svg),url(images/gettoknow-excellence-lattice2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top 0px left 0px, bottom 0px right 0px;
    background-size: 283px, 473px;

    @media screen and (max-width : 991px) {
    	background-image: url(images/gettoknow-excellence-lattice2.svg);
	    background-repeat: no-repeat;
	    background-position: bottom 0px right 0px;
	    background-size: 473px;
    }

	@media screen and (max-width : 767px) {
		background-image: none;
		padding: 40px 0;
	}

	.intro {
		text-align: center;
		margin-bottom: 40px;

		@media screen and (max-width : 767px) {
			margin-bottom: 35px;
		}
	}
}

.factoids-wrap {
	padding: 0 0 50px 0;
	border-bottom: 1px solid $gold;
	overflow: auto;
	margin-bottom: 60px;

	@media screen and (max-width : 991px) {
		padding: 0 15px 40px 15px;
	}

	.fact {
		height: 220px;
		text-align: center;
		padding-top: 32px;

		@media screen and (max-width : 767px) {
			padding: 20px 15px;
			height: auto;
		}

		.number {
			@extend .refrigerator-bignumber;
			color: $nebraskared;
		}

		h3 {
			@extend .subheading-copy;
			line-height: normal;
			margin-bottom: 10px;
		}

		p {
			@include futura-pt-format(16px, 400, 19px, $black, 0px);
		}
	}

	.main {
		background: $nebraskared;
		overflow: auto;

		.left, .right {
			width: 50%;
			float: left;

			@media screen and (max-width : 767px) {
				width: auto;
				float: none;
			}
		}

		.left {
			@media screen and (max-width : 767px) {
				margin-bottom: 10px;
			}
		}


		.right p {
			font-size: 17px;
			line-height: 26px;
			text-align: left;

			@media screen and (max-width : 991px)  and (min-width: 768px) {
				line-height: 19px;
			}

			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}

		.number, h3, p {
			color: $white;
		}

		h3 {
			margin-bottom: 0px;
		}
	}
}

.graduates {
	padding-left: 0px;
	padding-right: 0px;

	@media screen and (max-width : 767px) {
		overflow: visible;
		text-align: center;
	}

	>div:nth-child(2n + 1) {
		@media screen and (max-width : 991px) {
			clear: left;
		}
	}

	.profile-pic {
		@extend .img-treatment1;
		margin-bottom: 24px;
		display: block;

		@media screen and (max-width : 767px) {
			margin-bottom: 70px;
			margin: 0 auto 70px auto;
		}

		&:hover::after {
			opacity: 0;
		}
	}

	h3 {
		@extend .subheading-copy;
		margin-bottom: 8px;
	}

	.details {
		margin-bottom: 12px;
		border-bottom: 1px solid $gold;

		@media screen and (max-width : 767px) {
			margin: 0 auto 16px auto;
		}
	}

	.profile-pic, .details, p {
		@media screen and (max-width : 767px) {
			max-width: 360px;
		}
	}

	.current {
		@include futura-pt-format(17px, 500, 23px, $black, 8px);
	}

	.graduate, p {
		@include futura-pt-format(16px, 400, 20px, $black, 12px);

		@media screen and (max-width : 767px) {
			margin-bottom: 16px;
		}
	}

	p {

		@media screen and (max-width : 991px)  and (min-width: 768px) {
			margin-bottom: 30px;
		}

		@media screen and (max-width : 767px) {
			line-height: 26px;
			margin: 0 auto;
		}
	}

	.slick-dots {
		@media screen and (max-width : 767px) {
			top: 320px;
			bottom: auto;
		}

		@media screen and (max-width : 370px) {
			top: 300px;
		}

		@media screen and (max-width : 350px) {
			top: 270px;
		}
	}
}