/*---------- NEWS & EVENTS ---------*/

.backdrop-template-wrap {
	background-image: url(images/newsevents-background.jpg);
	background-size: cover;
	padding: 60px 0;

	@media screen and (max-width : 767px) {
		padding: 30px 0;
	}

	.intro {
		margin-bottom: 20px;
	}

	.block {
		background: rgba(255,255,255,.75);
		padding: 30px;
		overflow: auto;

		@media screen and (max-width : 991px) {
			padding: 15px;
		}

		@media screen and (max-width : 767px) {
			width: calc(100% + 30px);
			margin-left: -15px;
			padding: 30px 15px;
		}

		h2 {
			@extend .subheading-copy;

			@media screen and (max-width : 767px) {
				margin-bottom: 20px;
			}
		}

		h3 {
			@extend .standard_body-copy;
			margin-bottom: 5px;
		}
	}

	.highlights {
		padding-bottom: 0px;

		@media screen and (max-width : 767px) {
			background: none;
			padding: 0px;
			padding-top: 0px;
		}

		.node {
			width: 50%;
			float: left;

			@media screen and (max-width : 767px) {
				width: auto;
				float: none;
				padding-right: 0px !important;
				padding-left: 0px !important;
			}

			&:nth-child(odd) {
				padding-right: 15px;
			}

			&:nth-child(even) {
				padding-left: 15px;
			}

			img {
				width: 100%;
				margin-bottom: 20px;

				@media screen and (max-width : 767px) {
					margin-bottom: 0px;
				}
			}

			.title {
				@extend .standard_body-copy;

				@media screen and (max-width : 767px) {
					padding: 10px 15px;
					background: rgba(255,255,255,.75);
					margin-bottom: 15px;
				}
			}
		}
	}

	.latest {
		@media screen and (max-width : 767px) {
			margin-bottom: 30px;
		}

		.group {
			padding-bottom: 30px;
			border-bottom: 1px solid #999792;
			margin-bottom: 40px;
		}

		.news-node {

			&:last-child {
				margin-bottom: 0px;
			}

			.date {
				width: 25%;
				padding-right: 15px;
			}

			.title {
				width: 60%;
			}
		}

		.event-node {
			background: none;
			margin-bottom: 15px;

			.date {
				background: $white;
				margin-right: 20px;
			}
		}

		.white-btn {
			margin: 0 auto;
		}

		.related-module {
			border-bottom: none;
			padding-bottom: 0px;
			margin-bottom: 0px;

			li {
				font-weight: 500;
			}
		}
	}

	.sidebar {

		>div {
			margin-bottom: 15px;
		}

		.thumb {
			width: 100%;
			@extend .standard_body-image;
			margin-bottom: 15px;
		}

		p {
			@extend .small_body-copy;
			margin-bottom: 16px;
		}

		.primary-contact {
			margin-bottom: 10px;

			img {
				float: left;
			}

			>div {
				@extend .small_body-copy;
				padding-left: 86px;
			}

			.title {
				margin-bottom: 10px;
			}
		}

		ul {
			@extend .standard_ul;
			margin-bottom: 0px;

			li {
				list-style: none;
				margin-left: 0px;
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
}

.transparent-searchform {
	position: relative;
	padding-right: 40px;
	margin-bottom: 30px;

	@media screen and (max-width : 767px) {
		display: none;
	}

	button {
		font-family: FontAwesome;
		color: $nebraskared;
		font-size: 19px;
		line-height: 40px;
		text-align: center;
		padding: 0px;
		border: none !important;
		content:'\f002';
		height: 40px;
		width: 40px;
		background-color: $white;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	&.mobile {
		display: none;

		@media screen and (max-width : 767px) {
			display: block;
			margin-bottom: 30px;
		}
	}

	input {
		@include futura-pt-format(17px, 500, 20px, $white, 0px);
		height: 40px;
		width: 100%;
		padding: 0 12px;
		border: 3px solid $white;
		position: relative;
		background: transparent;
		border-radius: 0px;

		&:focus {
			outline: none;
		}
	}
}