/*------ OFFICES & POLICIES --------*/

.left-aligned-template-wrap {
	padding: 40px 0 70px 0;
	background-image: url(images/officespolicies-lattice1.svg), url(images/officespolicies-lattice2.svg), url(images/officespolicies-triangle.png);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: top 0px right 0px, bottom 0px right -2px, right 0px top 700px;
	background-size: 338px, 338px, auto;
	position: relative;

	@media screen and (max-width : 1199px) {
		background-position: top 0px right 0px, bottom 0px right 0px, right -140px top 700px;
	}

	@media screen and (max-width : 767px) {
		background-image: none;
	}

	&:after {
		@extend .rainbowborder;
	}

	.intro {
		margin-bottom: 40px;
	}

	h2 {
		@extend .standard_body-copy;
		line-height: 40px;
		border-bottom: 1px solid $gold;
	}

	.query-list {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 20px;

		.sm-descript-node {

			h3 {
				@extend .subheading-copy;
				margin-bottom: 8px;

				@media screen and (max-width : 767px) {
					text-align: center;
				}
			}

			p {
				@extend .small_body-copy;
				margin-bottom: 22px;
			}
		}

		.sm-descript-node:nth-child(2n + 1) {
			clear: left;
		}
	}

	.sm-2-col-list {
		margin-bottom: 20px;

		h3 {
			@extend .small_body-copy;
			margin-bottom: 14px;
		}

		ul {
			@extend .standard_ul;
			overflow: auto;
			margin-bottom: 30px;

			li {
				display: block;
				width: 50%;
				float: left;
				margin-left: 0px;
				list-style: none;
				padding-right: 15px;

				@media screen and (max-width : 767px) {
					width: auto;
					float: none;
				}
			}
		}

		h3, ul {
			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}
	}

	.red-btn {
		@media screen and (max-width : 767px) {
			margin: 0 auto;
		}
	}
}