/*--------- OUR PRESIDENT -----------*/

.overview2-section {
	padding: 60px 0;

	background-image: url(images/gettoknow-excellence-lattice1.svg),url(images/gettoknow-excellence-lattice2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top 0px left 0px, bottom 0px right 0px;
    background-size: 283px, 473px;

	@media screen and (max-width : 991px) {
		background-image: none;
    	background-repeat: no-repeat;
    	background-position: top 0px left 0px;
    	background-size: 40%;
	}

	@media screen and (max-width : 767px) {
		padding: 60px 0px 0px 0px;
	}

	.main {
		margin-bottom: 44px;

		@media screen and (max-width : 767px) {
			margin-bottom: 0px;
		}
	}

	.intro {
		text-align: center;
		margin-bottom: 40px;

		@media screen and (max-width : 767px) {
			margin-bottom: 0px;
		}
	}

	.profile-pic {
		@extend .img-treatment1;
		@extend .standard_body-image;
	}

	.content {
		padding-left: 0px;
		padding-right: 0px;

		@media screen and (max-width : 767px) {
			padding-left: 15px;
			padding-right: 15px;
		}

		.title {
			color: $nebraskared;
			margin-bottom: 5px;
		}

		p {
			@extend .standard_body-copy;
			position: relative;

			@media screen and (max-width : 767px) {
				margin-left: 22px;
			}

			&.quote {
				width: 100%;

				@media screen and (max-width : 767px) {
					font-size: 17px;
				}

				&::before {
					@extend .side-arrow;
				}
			}
		}

		.caption {
			@extend .caption-copy;

			@media screen and (max-width : 767px) {
				margin-left: 0px;
			}
		}

		.embed-container {
			margin-bottom: 10px;
			@extend .standard_body-image;
		}
	}

	.bullets {
		border-top: 1px solid $gold;
		padding: 30px 0px 0px 0px;

		@media screen and (max-width : 767px) {
			border-top: none;
		}

		.col-sm-3 {
			@media screen and (max-width : 767px) {
				border-bottom: 1px solid $gold;
				margin-bottom: 30px;
			}

			&:last-child {
				@media screen and (max-width : 767px) {
					border-bottom: none;
				}
			}
		}

		h3 {
			@extend .subheading-copy;
			margin-bottom: 14px;

			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}

		p {
			@include futura-pt-format(16px, 400, 20px, $neblack, 34px);
		}
	}

	.red-btn {
		margin: 0 auto;

		@media screen and (max-width : 767px) {
			text-align: center;
			width: 100%;
		}
	}
}

.slider-3-col-filter-wrap {
	background-image: url(images/people-featuredfaculty-background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 60px 0 48px 0;

    @media screen and (max-width : 767px) {
    	padding: 44px 0 44px 0;
    }

	.intro {
		text-align: center;
		margin-bottom: 44px;
	}

	.campus-inline-menu {
		margin-bottom: 40px;

		li {
			margin-right: 10px;
		}

		li a {
			color: $white;
			@extend .standard_transition;

			&:hover, &.toggle {
				color: $nebraskared;
				background: rgba(240,241,240,0.7);
			}
		}
	}

	.slide-filter-list {
		padding-left: 0px;
		padding-right: 0px;

		img {
			width: 100%;
			@extend .standard_transition;

			&:hover {
				opacity: .8;
			}
		}

		.details {
			padding: 18px 15px;
			background: rgba(240,241,240,0.7);
		}

		h3 {
			@extend .subheading-copy;
			margin-bottom: 8px;
		}

		.current {
			@include futura-pt-format(16px, 400, 20px, $black, 10px);
		}

		p {
			@extend .standard_body-copy;
			margin-bottom: 0px;
		}

		.slick-dots {

			li {

				button {
					background-color: $white;
					border-color: $white;
				}

				&.slick-active button {
					background-color: $nebraskared;
					border-color: $nebraskared;
				}
			}
		}
	}

	.slider-con.slide-filter-list {
		margin-bottom: 70px;
	}

	.white-btn {
		background: rgba(240,241,240,0.7);
		margin: 0 auto;

		@media screen and (max-width : 767px) {
			text-align: center;
			width: 100%;
		}

		&:hover {
			background: $neblack;
		}
	}
}

.roster-filter-wrap {
	padding: 70px 0 60px 0;

	@media screen and (max-width : 767px) {
		padding: 50px 0;
	}

	.intro {
		text-align: center;
	}

	.campus-inline-menu {
		margin-bottom: 50px;

		@media screen and (max-width : 767px) {
			margin-bottom: 20px;
		}

		li {
			margin-right: 30px;

			&:last-child {
				margin-right: 0px;
			}

			a {
				color: $nebraskared;

				&:hover, &.toggle {
					color: $white;
					background: $nebraskared;
				}
			}
		}
	}

	.profile-pic {
		@extend .img-treatment1;
		display: inline-block;
		height: 270px;
		width: 170px;
		overflow: hidden;
		margin-right: 30px;
		float: left;

		@media screen and (max-width : 767px) {
			float: none;
			display: none;
			margin-bottom: 20px;
		}

		&:hover {

			&::after {
				opacity: 0;
			}
		}

		&.mobile {
			display: none;

			@media screen and (max-width : 767px) {
				height: auto;
				width: 100%;
				display: block;
			}
		}

		img {
			display: block;
		}
	}

	.details {
		padding-top: 30px;

		@media screen and (max-width : 991px) {
			padding-top: 0px;
		}

		@media screen and (max-width : 767px) {
			text-align: center;
		}

		h3 {
			@extend .subheading-copy;
			margin-bottom: 16px;

			@media screen and (max-width : 991px) {
				font-size: 20px;
			}
		}

		.current, .year {
			@include futura-pt-format(16px, 400, 20px, $black, 16px);

			@media screen and (max-width : 991px) {
				margin-bottom: 12px;
			}
		}

		p {
			@extend .standard_body-copy;
			line-height: 23px;
			margin-bottom: 16px;

			@media screen and (max-width : 991px) {
				margin-bottom: 12px;
			}
		}
	}
}

.roster-list-con {
	padding-left: 0px;
	padding-right: 0px;
}

.roster-list {

	.node {
		margin-bottom: 20px;
	}
}