/*------------- PLAN ---------------*/

.plan-template {
	padding: 40px 0 70px 0;
	position: relative;

	@media screen and (max-width : 767px) {
		padding: 30px 0;
	}

	&:after {
		@extend .rainbowborder;
	}

	.reference {
		margin-bottom: 20px;
	}

	.intro {

		p {
			margin-bottom: 20px;
		}

		.assoc-link {
			margin-bottom: 20px;

			@media screen and (max-width : 767px) {
				text-align: center;
				margin-bottom: 40px;
			}

			li {
				@extend .small_body-copy;
				width: 145px;
				display: inline-block;
				margin-right: 45px;

				@media screen and (max-width : 767px) {
					display: block;
					margin: 0 auto 10px auto;
				}
			}
		}
	}

	.description {
		h2 {
			@extend .subheading-copy;
			margin-bottom: 20px;

			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}

		h3 {
			@extend .standard_body-copy;
			margin-bottom: 8px;
			position: relative;

			@media screen and (max-width : 767px) {
				margin-left: 22px;
			}

			&::before {
				@extend .side-arrow;
			}
		}

		p {
			@extend .standard_body-copy;
		}

		ul {
			@extend .standard_ul;
		}
	}
}

.overview-sidebar {

	@media screen and (max-width : 767px) {
		margin-bottom: 60px;
	}

	h4 {
		@extend .standard_body-copy;
		line-height: 40px;
		border-bottom: 1px solid $gold;
		margin-bottom: 18px;
	}

	ul {
		@extend .standard_ul;

		li {
			list-style: none;
			margin: 0 0 8px 0;
			position: relative;
		}

		li.toggle::before {
			@extend .side-arrow;
		}
	}
}