/*------ RETIREMENT BENEFITS -------*/

.block-list-index-template {
	padding: 40px 0 70px 0;
	background-image: url(images/research-benefit-lattice2.svg), url(images/healthbenefits-lattice2.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: top 0px right 0px, bottom 0px right 0px;
	background-size: 184px, 360px;
	position: relative;

	@media screen and (max-width : 1199px) {
		background-image: url(images/healthbenefits-lattice2.svg);
		background-repeat: no-repeat;
		background-position: bottom 0px right 0px;
		background-size: 360px;
	}

	@media screen and (max-width : 767px) {
		background-size: 50%, 0;
		padding: 30px 0 0 0;
	}

	&:after {
		@extend .rainbowborder;
	}

	.benefits-sidebar {
		@media screen and (max-width : 767px) {
			margin-bottom: 0px;
		}
	}

	.reference {
		margin-bottom: 20px;
	}

	.intro {
		margin-bottom: 30px;
	}

	h3 {
		@extend .subheading-copy;
	}
}

.grey-block-list {
	
	.node {
		background: $lightgrey;
		padding: 30px 150px 30px 30px;
		margin-bottom: 15px;

		@media screen and (max-width : 991px) {
			padding: 25px 15px;
		}

		@media screen and (max-width : 767px) {
			padding: 25px 15px;
			width: calc(100% + 30px);
			margin: 0 0 15px -15px;
		}

		h3 {
			margin-bottom: 10px;

			@media screen and (max-width : 767px) {
				text-align: center;
			}
		}

		p {
			@extend .standard_body-copy;
			margin-bottom: 0px;
		}
	}

	.siblings-node {

		.node {
			margin-bottom: 0px;

			&:first-child {
				border-bottom: 1px solid #cccccc;
			}
		}
	}
}