/*------------ SEARCH --------------*/

.query-lists-wrap {
	position: relative;
	padding: 70px 0;


    background-image: url(images/article-lattice-right.svg), url(images/search-results-lattice2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top 0px right 0px, bottom 0px right 0px;
    background-size: 194px, 386px;

    @media screen and (max-width : 1199px) {
    	background-image: url(images/search-results-lattice2.svg);
    	background-repeat: no-repeat;
    	background-position: bottom 0px right 0px;
    }

    @media screen and (max-width : 767px) {
    	background-image: none;
    }

	&::after {
		@extend .rainbowborder;
	}

	.match {
		@extend .standard_body-copy;
	}

	h2, h3 {
		@extend .subheading-copy;


		&.category-head {
			line-height: 42px;
			border-bottom: 1px solid $gold;
		}
	}

	p {
		@extend .standard_body-copy;
	}

	.red-btn {
		margin: 0 auto;
	}
}

.query-list {
	margin-bottom: 60px;

	.reference-node {
		margin-bottom: 30px;

		h3, p {
			margin-bottom: 0px !important;
		}

		.details, .url {
			@include futura-pt-format(14px, 400, 26px, $black, 0px);
		}

		.url {
			color: $nebraskared;
		}
	}

	.profile-node {
		overflow: auto;
		padding-bottom: 60px;
		border-bottom: 1px solid $gold;
		margin-bottom: 40px;
		position: relative;

		&.labels {
			@include futura-pt-format(14px, 400, 20px, $black, 40px);
			padding-bottom: 10px;

			@media screen and (max-width : 767px) {
				display: none;
			}
		}

		@media screen and (max-width : 767px) {
			padding-right: 72px;
			padding-bottom: 30px;
			margin-bottom: 30px;
		}

		&:last-of-type {
			border-bottom: none;
		}

		>div {
			display: block;
			float: left;
			padding-right: 30px;

			@media screen and (max-width : 767px) {
				width: 100% !important;
				float: none;
				margin-bottom: 10px;
				padding-right: 0px;
			}

			&:nth-child(1) {
				width: 25%;
			}

			&:nth-child(2) {
				width: 35%;
			}

			&:nth-child(3) {
				width: 30%;

				@media screen and (max-width : 767px) {
					margin-bottom: 0px;
				}
			}

			&:nth-child(4) {
				width: 10%;
				padding-right: 0px;

				@media screen and (max-width : 767px) {
					width: auto !important;
					top: 0px;
					right: 0px;
					position: absolute;
				}
			}
		}

		a {
			color: $nebraskared;
		}

		.name {
			@extend .standard_body-copy;
			margin-bottom: 0px;
		}

		.title, .campus {
			@include futura-pt-format(15px, 400, 26px, $black, 0px);
		}

		.contact {
			@include futura-pt-format(15px, 400, 20px, $black, 0px);
		}
	}

	.sm-descript-node {

		h3 {
			margin-bottom: 0px !important;
		}

		p {
			font-size: 14px !important;
			font-weight: 400 !important;
		}
	}

	.linked-list {

		li {
			@extend .standard_body-copy;
			margin-bottom: 20px;
		}
	}

	.event-node {
		height: 70px;
		margin-bottom: 7px;
		background-color: transparent;

		@media screen and (max-width : 767px) {
			width: calc(100% + 30px);
	    	margin: 0 0 7px -15px;
	    	padding-right: 15px;
	    }

	    &:last-of-type {
	    	@media screen and (max-width : 767px) {
	    		margin-bottom: 60px;
	    	}
	    }

		.date {
			height: 70px;
			width: 70px;
		}
	}
}

.search-inline-menu {
	margin-bottom: 40px;

	@media screen and (max-width : 767px) {
		width: calc(100% + 30px);
		margin: 0 0 26px -15px;
	}

	@media screen and (max-width : 767px) {
		border-top: 1px solid $nebraskared;
	}

	li {
		@include futura-pt-format(14px, 700, 40px, $black, 0px);
		text-transform: uppercase;
		display: inline-block;
		margin-right: 34px;

		@media screen and (max-width : 991px) {
			margin-right: 10px;
		}

		@media screen and (max-width : 767px) {
			text-align: center;
			display: block;
			margin-right: 0px;
		}

		&:last-child {
			margin-right: 0px;
		}

		a {
			color: $nebraskared;
			display: block;
			padding: 0 20px;
			border: 1px solid $nebraskared;
			cursor: pointer;
			@extend .standard_transition;

			@media screen and (max-width : 991px) {
				padding: 0 18px;
			}

			@media screen and (max-width : 767px) {
				border: none;
				border-bottom: 1px solid $nebraskared;
			}

			&:hover, &:focus, &.toggle {
				color: $white;
				text-decoration: none;
				background: $nebraskared;
			}
		}
	}
}