/*------- SIX STRATEGIC GOALS ------*/

.full-accordian-template {

	&.list {
		position: relative;

		&:before {
			@extend .rainbowborder;
		}
	}

	&.intro {
		padding: 40px 0 70px 0;

		background-image: url(images/sixstrategicgoals-intro-lattice1.svg), url(images/research-benefit-lattice2.svg);
		background-repeat: no-repeat, no-repeat;
		background-position: bottom -2px left -2px, top 0px right 0px;
		background-size: 172px, 170px;

		@media screen and (max-width : 1199px) {
			background-image: url(images/sixstrategicgoals-intro-lattice1.svg);
			background-repeat: no-repeat;
			background-position: bottom -2px left -2px;
			background-size: 172px;
		}

		@media screen and (max-width : 767px) {
			background-image: none;
			padding: 20px 0 0 0;
		}

		.pdf {

		}

		.icon {
			margin: 0 auto;
			display: block;

			@media screen and (max-width : 767px) {
				width: 170px;
				margin: 0 auto 40px auto;
			}
		}

		p {
			margin-bottom: 22px;

			&.sub {
				@include futura-pt-format(15px, 400, 20px, $black, 26px);
			}
		}

		.red-btn {
			@media screen and (max-width : 767px) {
				width: calc(100% + 30px);
				margin: 0 0 0 -15px;
			}
		}
	}

	.drawer-node {
		border-top: 1px solid $gold;
		display: block;
		position: relative;
		background-image: url(images/sixstrategicgoals-goal-background.jpg);
		background-size: cover;
		@extend .slow_transition;

		&:before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: rgba(255,255,255,1);
			left: 0px;
			top: 0px;
			@extend .slow_transition;
		}

		&:hover, &.toggle {
			text-decoration: none;

			&:before {
				background-color: rgba(255,255,255,0);
			}

			.top {

				.icon, .arrow {
					fill: $white;
				}

				h2, p {
					color: $white;
				}
			}
		}

		&.toggle {

			.top .arrow {
				transform: rotate(-90deg);
			}

			.top .arrow:hover {
				fill: $nebraskared;
			}

			.bottom {
				max-height: 2000px;

				@media screen and (max-width : 767px) {
					max-height: 4000px;
				}
			}
		}

		.top {
			height: 236px;
			padding: 54px 0;
			cursor: pointer;
			z-index: 1;
			position: relative;
			display: block;

			@media screen and (max-width : 767px) {
				height: auto;
				padding: 30px 0;
			}

			.centered {
				@media screen and (max-width : 767px) {
					top: auto;
					transform: none;
				}
			}

			.icon {
				fill: $nebraskared;
				max-height: 77px;
				width: 100%;
				max-width: 110px;

				@media screen and (max-width : 767px) {
					display: block;
					margin: 0 auto 20px auto;
				}
			}

			h2 {
				@extend .subheading-copy;
				margin-bottom: 14px;

				@media screen and (max-width : 767px) {
					text-align: center;
				}
			}

			p {
				@extend .standard_body-copy;
				margin-bottom: 0px;

				@media screen and (max-width : 767px) {
					margin-bottom: 10px;
				}
			}

			.arrow {
				height: 60px;
				width: 60px;
				fill: $nebraskared;
				position: absolute;
				right: 170px;
				top: 90px;
				transform: rotate(90deg);

				@media screen and (max-width : 991px) {
					right: 80px;
				}

				@media screen and (max-width : 767px) {
					position: relative;
					right: auto;
					top: auto;
					margin: 0 auto;
					display: block;
				}
			}

			.icon, h2, p, .arrow {
				@extend .slow_transition;
			}
		}

		.bottom {
			max-height: 0px;
			overflow: hidden;
			@extend .slow_transition;

			h3 {
				text-align: center;
				margin-bottom: 40px;
			}

			.row:nth-child(2) {
				text-align: center;
				font-size: 0;
				margin-bottom: 40px;

				>div {
					display: inline-block;
					float: none;
					vertical-align: top;
				}
			}
		}

		.plan-module {
			/*height: 440px;*/
			height: auto;
			padding: 28px 21px;
			background-color: rgba(255,255,255,.84);
			margin-bottom: 30px;
			text-align: left;

			.plan {
				@extend .standard_body-copy;
			}

			&.mini .plan {
				margin-bottom: 0px;
			}

			.bullet {
				padding-left: 72px;
				border-bottom: 1px solid #aeb1ad;
				margin-bottom: 14px;
				background-repeat: no-repeat;
				background-size: 43px;
				background-position: top 0px left 0px;

				&.inprogress {
					background-image: url(images/sixstrategicgoals-goal-plan-icon1.png);
				}

				&.complete {
					background-image: url(images/sixstrategicgoals-goal-plan-icon2.png);
				}

				p {
					@include futura-pt-format(16px, 400, 20px, $black, 14px);
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}