/*---------- STATISTICS ------------*/

.statistics-banner {
	background-image: url(images/global-statistic-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	@media screen and (max-width : 767px) {
		background-position: center;
	}

	.overlay {
		background-image: url(images/global-statistic-lattice1.png),url(images/global-statistic-lattice2.png);
		background-repeat: no-repeat, no-repeat;
    	background-position: top 0px left 0px, bottom 0px right 0px;
    	padding: 70px 0;
		position: relative;

		@media screen and (max-width : 1199px) {
			padding: 40px 0;
		}

		@media screen and (max-width : 767px) {
		    background-size: 200px, 200px;
		}
	}

	.stat-block {
		text-align: center;

		@media screen and (max-width : 767px) {
			margin-bottom: 40px;
		}

		&:last-child {
			margin-bottom: 0px;
		}

		.icon {
			height: 100px;
			width: 100px;
			margin: 0 auto 30px auto;

			@media screen and (max-width : 1199px) {
				height: 60px;
				width: 60px;
				margin: 0 auto 10px auto;
			}

			img {
				max-height: 100%;
			}
		}

		.number {
			@extend .refrigerator-bignumber;
		}

		p {
			@include futura-pt-format(17px, 400, 26px, $white, 0px);
		}
	}
}