/*---------- STYLE GUIDE -----------*/

#styleguide-header {
	height: 90px;
	background: $nebraskared;

	.logo {
		width: 150px;
		margin-top: 25px;
	}

	ul {
		float: right;
		margin-top: 24px;

		li {
			display: inline-block;
			margin-left: 28px;

			a {
				@include futura-pt-format(14px, 700, 37px, $white, 0px);
				text-transform: uppercase;
				letter-spacing: 1px;
				display: block;
				padding: 0 17px;
				border: 2px solid $white;
				@extend .standard_transition;

				&:hover, &.toggle {
					color: $nebraskared;
					background: $white;
					text-decoration: none;
				}
			}
		}
	}
}

#styleguide {
	padding: 90px 0;

	.section-name {
		@include futura-pt-format(20px, 700, 37px, $gold, 40px);
		text-transform: uppercase;
		letter-spacing: 1px;
		border-bottom: 5px solid $gold;
		padding-left: 11px;
		width: 170px;
	}

	p {
		@include futura-pt-format(15px, 700, 20px, $deepgrey, 40px);
		padding-left: 40px;
	}

	.header-details, .copy-details, .btn-name {
		@include futura-pt-format(15px, 700, 32px, $deepgrey, 0px);
	}

	.font-styles {
		text-align: center;
		margin-bottom: 100px;

		li {
			display: inline-block;
			margin-right: 70px;

			.font1 {
				@include refrigerator-format(80px, 500, 80px, $gold, 0px);
			}

			.font2 {
				@include futura-pt-format(80px, 400, 80px, $gold, 0px);
			}

			.name {
				@include futura-pt-format(14px, 700, 20px, #585657, 40px);
				text-transform: uppercase;
			}
		}
	}

	.color-swatches {
		font-size: 0px;
		text-align: center;
		margin-bottom: 100px;

		li {
			display: inline-block;
			width: 33.3333%;
		}

		.swatch {
			height: 109px;
			width: 109px;
			border-radius: 60px;
			float: left;
			margin-right: 15px;

			@include futura-pt-format(14px, 500, 109px, $white, 40px);
			text-align: center;
		}

		.name {
			@include futura-pt-format(14px, 700, 20px, $black, 0px);
			text-transform: uppercase;
			padding-top: 45px;
			padding-right: 15px;
			text-align: left;
		}
	}

	.header-list {

		>.row {
			margin-bottom: 40px;
		}

		h1 {
			@extend .standard_lrgheader;
			line-height: auto;
		}

		h2 {
			@include refrigerator-format(40px, 400, 50px, $neblack, 10px);
		}

		h3 {
			@extend .subheading-copy;
		}

		h1,h2,h3,h4 {
			color: $gold;
			margin-bottom: 0px;
		}
	}

	.copy-list {

		.quote {
			width: 100%;
		}

		.standard_body-copy, .small_body-copy {
			color: $deepgrey;
			margin-bottom: 0px;
		}

		.row {
			margin-bottom: 40px;
		}
	}

	.button-list {

		a {
			float: left;
			min-width: 174px;
			text-align: center;
			margin-right: 40px;
		}

		.navigator {
			background: rgba(0,0,0,0.1);
			position: static;
			display: inline-block;
			transform: none;
			margin-right: 30px;

			&.hover, &:hover {
				background:rgba(208,13,44,0.5);
			}
		}

		.slick-dots {
			position: static;
			text-align: left;

			li {
				margin: 0 16px 0 0;
			}
		}

		.btn-name {
			margin: 20px 0 40px 0;
		}
	}
}