/*------------ SUBPAGE --------------*/

.subpage-template {
	padding: 43px 0 70px 0;
	position: relative;
	@extend .lattice-background1;

	&::after {
		@extend .rainbowborder;
	}

	.intro {
		margin-bottom: 40px;

		p {
			@extend .standard_body-copy;

			&.subhead {
				font-size: 20px;
				font-style: italic;
				margin-bottom: 0px;
			}
		}

		.social-btns-inline {

			@media screen and (max-width : 767px) {
				display: none;
			}
		}
	}

	h2 {
		font-weight: 700;
	}

	h3, .subhead {
		@extend .subheading-copy;
	}

	h3 {
		margin-bottom: 20px;

		@media screen and (max-width : 767px) {
			text-align: center;
			font-size: 20px;
		}
	}

	p {
		@extend .standard_body-copy;
	}

	.thumb {
		@extend .standard_body-image;
	}

	.caption {
		@extend .caption-copy;
	}

	.left-aligned {
		float: left;
		clear: both;
		margin-right: 30px;
	}

	.social-btns-inline {
		display: none;
		margin: 0 auto 20px auto;

		@media screen and (max-width : 767px) {
			display: table;
		}
	}
}