/*----------- VARIABLES ------------*/

$black: #000000;
$neblack: #282728;
$white: #ffffff;
$lightgrey: #e9eaea;
$externalgrey: #939388;
$deepgrey: #464646;
$beige: #ffeeb9;
$nebraskared: #d00d2c;
$crimson: #ac182d;
$gold: #b19846;